In [1]:
import argparse
import json
import logging
import sys

import copy
import numpy as np
import pandas as pd
import pdb

import glob
import os
from collections import defaultdict
import seaborn as sns
import matplotlib.pyplot as plt

import loki
from loki.util import constraints, postprocessing
from loki.solver import sat
from loki.util.postprocessing import *

%load_ext autoreload
%autoreload 2

In [2]:
## add progress bar showing upload to postgres
## print out some model variables while sat solving
## remove error messages

# Setting up parameters

In [8]:

os.chdir("/flash1/pari/loki")
parser = argparse.ArgumentParser(description='Run Loki.')
parser.add_argument('--config', '-c', default='application.conf')
parser.add_argument('--workload', '-w', default='imdb')
parser.add_argument('--db',  default='imdb')
parser.add_argument('--table', '-t', default='n')
parser.add_argument('--vars_per_col', '-n', default=1000)
parser.add_argument('--logfile', '-lf', default='logs/loki.log')
parser.add_argument('--verbose', '-v', default=False, action='store_true')
#args = parser.parse_args()
args = parser.parse_args(args=[])

# Input Files (IR of Parsed Query Workload)

In [9]:
loki.load_config(args.config)
c_df = pd.read_csv(loki.config[args.workload]['constraints_df'])
c_df = c_df.sample(frac=1.0)
c_df.head(5)

,exprhash,RowCount,InputCardinality,RowSql,Column,input,jobid,Op,Value,Selectivity
67105,513634991045095779917163387442763459289913020008,3395,14835720,SELECT COUNT(*) from movie_info AS mi1 WHERE m...,mi1.info,mi,2588,=,'MET:150 m',0.000229
2376,895918758229320809296116480909318578258404415055,1,12,SELECT COUNT(*) from role_type AS rt WHERE rt....,rt.role,rt,93,=,'producer',0.083333
57109,331652677167321217491811120964587578955014717773,34,2528312,SELECT COUNT(*) from title AS t WHERE t.title ...,t.title,t,2235,=,'Dansk melodi grand prix',0.000013
38436,304016124209722010575770180899170087677087776839,1,134170,SELECT COUNT(*) from keyword AS k WHERE k.keyw...,k.keyword,k,1490,=,'father-daughter-relationship',0.000007
69736,1270056137664121432157104510888238657306402496000,2456181,2528312,SELECT COUNT(*) from title AS t WHERE t.produc...,t.production_year,t,2699,<=,2015,0.971471

# Converting the cardinalities ---> SAT constraints, and solving it for a potential database that satisfies those constraints

In [13]:
import warnings
warnings.filterwarnings('ignore')
import time

start = time.time()
logging.basicConfig(
    level=logging.DEBUG if args.verbose else logging.INFO,
    format="%(asctime)s %(levelname)-8s [%(name)s]  %(message)s",
    datefmt="%Y-%m-%d %H:%M:%S",
    handlers=[logging.FileHandler(args.logfile), logging.StreamHandler()])

logger = logging.getLogger('stdout')

#logger.info('Loki initialized with configuration:\n%s' % json.dumps(loki.config, sort_keys=True, indent=4))

print('Loki initialized with configuration: \n{}'.format(json.dumps(loki.config, sort_keys=True, indent=4)))
df = pd.read_csv(loki.config[args.workload]['df'])
tables = set(df['input'])
table_columns = {table: set(df['column'].where(df['input'] == table).dropna()) for table in tables}

table = args.table
orig_table = table
# table = '"{}"'.format(table)

columns = table_columns[table]

constraints_df = constraints.get_constraints_df(c_df, table)
print("Operators used: ", set(constraints_df["Op"]))

table_cardinality = constraints.get_table_cardinality(constraints_df)
co_optimized_columns = constraints.get_co_optimized_columns(constraints_df, columns)
programs = constraints.get_programs(co_optimized_columns)

leftover_constraints = []

vars_per_col = args.vars_per_col

solutions = []

constraints_df = constraints_df[constraints_df["Value0"] != "None"]
constraints_df = constraints_df[constraints_df["Value1"] != "None"]
constraints_df = constraints_df[constraints_df["Value"] != "None"]
# pdb.set_trace()
for program in programs:
    #logger.info(f'Solving: {program}')
    print(f'Solving: {program}')
    constraints_ = constraints.parse_constraints(program, constraints_df)
    model, vars, cols, col_values_ids_map = sat.build_model(program, constraints_, leftover_constraints, table_cardinality, vars_per_col)
    solution = sat.solve(model, vars, cols, col_values_ids_map, vars_per_col)
    solutions.append(solution)
    #logger.info(f'Solved: {program}')
    print(f'Solved: {program}')

# Combine all programs' solutions into a single dictionary solution
full_solution = {k: v for s in solutions for k, v in s.items()}

postprocessing.apply_leftover_constraints(full_solution, leftover_constraints)
solution_df = postprocessing.solution_to_df(full_solution)
final_solution_df = postprocessing.scale_solution_df(solution_df, table_cardinality, vars_per_col)

final_solution_df.to_csv(f'results/{orig_table}.csv')

print("Generating solutions took: ", time.time()-start)

Loki initialized with configuration:
{
    "imdb": {
        "constraints_df": "sample-data/literal_df.csv",
        "df": "sample-data/op_df.csv"
    }
}
Operators used:  {'=', '=|=', 'like'}
Solving: {'name'}
Problem scale: 155000
Stopping after 70 constraints!
Status = OPTIMAL
Solved: {'name'}
Solving: {'name_pcode_nf', 'surname_pcode', 'name_pcode_cf', 'gender'}
Problem scale: 1194000
Stopping after 1095 constraints!
Status = OPTIMAL
Solved: {'name_pcode_nf', 'surname_pcode', 'name_pcode_cf', 'gender'}
Generating solutions took:  100.27274751663208

# Exploring the solution

In [6]:
## a lot of the cells in the final solution are unspecified since we may not have enough data
tmp = final_solution_df.dropna()
tmp.sample(frac=0.1).head(10)

          name surname_pcode name_pcode_cf name_pcode_nf gender
127179    %co%          %j1%         C6325         K3656      m
86102    %sta%           D16         S3652         V4321      f
178161    %co%         %p64%         L1525         M2563      f
131196    %co%          %m3%         A5262         E3631      m
174580    %co%            S5         B6156         R2416      f
122732    %co%          B452          %g4%         J2124      m
172609    %co%            S5         B6156         R2416      f
28843   %rich%          W256         C6264         A5316      m
142250    %co%           M54         R2461         B4325      f
110569    %co%          S415         B4353           S52      m

# Uploading the created table to Postgres

In [7]:
DKIND="s1"

## TO try: shuffle=False; null_strs=True
upload_to_postgres(final_solution_df, args.db, args.table, DKIND, shuffle=True, null_strs=False)

uploading to postgres took:  178.49

# Setting up execution result directories

In [23]:
import sys
import os
import shutil

os.chdir("/spinning/pari/WorkloadCharacterization")

try:
    shutil.rmtree('./new_results')
except Exception as e:
    pass

try:
    os.mkdir("./new_results")
except:
    pass

NUMQ = 100

# Executing Workload Queries on true data

In [24]:
CMD = "python3 eval_data.py --data_kind true_cols --num_queries {} \
--inp_to_eval n --port 5432 --workload ceb --db_name imdb --result_dir new_results".format(NUMQ)
out = os.system(CMD)

data/ceb-all/sqls/dfs/expr_df.csv
Number of sqls to evaluate: 783
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','E4213','F6362','F6525','J513','M6251','M6263','P3625','R1632','R1636','R2631','R2632','S2153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6361','D1326','D1352','G6262','J5241','J5245','J5263','L2142','M6216','S3151')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B2','B6','B62','B653','C2','C5','J52','J525','L15','L52','M62','P62','R3','W425')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4236','A5356','A5361','E3631','J25','M2412','M2415','M6242','M6352','P3656','R1632','S2525','S3541','V2362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5362','C6231','C6235','D1343','D52','F6526','G6265','J2523','J5263','M245','M625','R2631','S1235','S3156')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5352','B1626','D5162','E4213','F6525','J5265','P436','R1632','R1636','R2631','R2635')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C6235','E4213','M6216','M6263')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','E6523','F6521','F6525','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C6235','E4213')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%it%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B2','D5','G6','J525','M2','M46','M625','R3')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%w41%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%j1%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%mar%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('F6362','F6525','J513','M6251','P3625','R1631','R1632','R1636','R2631','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','E4213','F6362','F6525','J513','M6263','R1631','R1632','R2631','R2632','S2153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','A5365','C6235','C6453','D1312','D1343','H5163','J212','J532','S3154')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5352','A5362','C6421','C6423','C6424','C6426','E6523','F6524','F6525','M6263','R1631','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%moli%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('E4213','M6216','M6263')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%such%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4215','C6232','C6261','C6416','C6452','D2313','D52','E5621','K1524','L25','L2516','N242','T5212','V5252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%willi%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ve%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A4361','B4525','B6261','B6526','J5252','S3152','S4153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B4525','B6261','D1232','H4236','J5252','O4252','P5235','R1632','R2632','S3152','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('M6263')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5352','A5362','C6421','C6424','C6425','F6524','F6525','R1631','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%vil%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%horst%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','C6425','F6521','F6525','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%de%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A525','A5363','C6235','C6525','D525','E4525','J5245','L252','M62','M6245','M6532','M6562','R5316','S652')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%lo%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','A5352','C6425','E6523','F6521','F6525','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ne%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%marl%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%pha%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%sta%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6543','B6535','G5362','G6535','J2346','J6525','L2416','M2563','M3262','R2616','R5432','S2153','V3656')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6563','C6425','D1316','F6523','J5252','M2416','M2425','R1635','R2631')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%f65%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4216','A4252','A5162','A5326','C3651','G1645','K3451','M6234','M6245','M6253','N2421','S2562','S5365','T5252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%mil%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A6362','B6165','C6416','C6452','G6252','G6253','J2425','L2142','M2415','M6232','P3625','S3153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4252','C6235','M6263')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('A5262','M5323','S4136')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B24','C62','D12','D4','J25','M324','S23','S415','S5','S53')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5362','B6535','C6231','E4213','F6521','F6525','K6235','R1631','R1632','R2632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A3414','C6426','R2636','S1524')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('A436','B2','B452','C16','C462','C65','H2','J52','L2','M5','R2','S23','W425')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','K3451','M6216','S3521')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','A5362','B6535','C6231','C6235','F6525','R1632','R2632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','A5364','B6514','D5236','F6521','H6252','J2524','J2532','J562','P3653','R2636','S524')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('P5235','P6252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5352','B6161','C6231','C6235','E3632','G6252','J5216','J5235','M2425','R1632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%hay%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','C6421','C6423','C6424','C6425','C6426','F6525','J5265','R1631','R1636','R2631','R2632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%se%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5362','A6532','C6235','J1626','J2516','J516','J5252','M2452','M2525','M6232','R2625','R2631','R2632','T6162')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','C6424','E3241','E3632','F6526','G6252','J252','J5162','J524','M2423','M6252','M6352','R2636','V5253')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%t6%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf in ('T5212')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5354','J5','J524','J6241','L216','M2426','M2462','P3635','S3156','S562','T5216')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('C2','C5','H2','L2','L5','S5','S53')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','K6235')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%p64%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%s%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A5362','C6231','C6235','F6525','R1631','R1632','R2632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode in ('A365','C62','G62','L15','L25','M2','N242','P62','R2')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%vanna%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('E4213','F6362','J513','M6251','M6263','P3625','R1631','R1632','R1636','R2631','R2632','S2153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A514','A5143','A5164','D5242','D5262','H4526','J5265','K6526','M6325','N2426','R2414','S1525','S2523','S6532')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','B6563','E3632','F6523','F6524','F6526','F6532','H6163','R1635','R1636','S2534','V4356')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ev%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','B6563','E3632','F6362','F6523','F6524','F6526','F6532','G6216','H6163','R1635','R1636','R2632','S2534','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B4532','G6325','H4525','J4524','J5326','L4525','M2413','M525','M6325','M6535','O4212','S4125','S5252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5242','B1614','C6231','J2423','J5252','M2425','R1631','R1632','R2631','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','C6421','C6425','C6426','F6524','F6525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%k23%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','B6535','D5452','F6535','G6352','J5253','J5254','M2465','M6241','M6242')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%villar%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B5254','B6516','C5651','C6231','C6253','E4213','J1415','K6425','L216','M6232','M6243','P4265','S3151','T4626','T525','V5256')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%bil%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ch%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('A3654','B4353','B6156','D2362','D4626','F6532','L1561','L5326','M5323','R2461','S5236')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%m2%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B1626','E3241','F6525','P436','R2631','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5362','C6423','C6424','E6523','F6521','F6524','F6525','R1631','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('F6362','J513','M6251','R1631','R1632','R1636','R2632','S2153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%hel%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A2351','A4253','C6424','D2564','J216','J242','J2565','J5141','J5216','J6242','J6264','R2532','R5432')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6423','C6424','C6426','F6524','F6532','R1631','R2632','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%e1%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','C6416','C6452','D5162','E4213','J5215','M6216','M6263','R3565')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%alla%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ma%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A6362','B6563','F6362','F6524','F6526','F6532','G6216','H6163','R1635','R1636','R2632','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%krist%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ba%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%pa%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('G6325','H6432','J5235','K5252','P3616','P3632','R2634','S4136','S524','V5253')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%al%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','J5252','R1632','R2632','W4525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf in ('A2365','B5242','D1614','E1524','L1214','L2','P3625','P5215','Q5325','R2425','R25','R3626','S3152','S5325','T5212')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A4254','J4524','J524','L52','M525','M5256','M6312','S1231','S163','S1652','S52')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%m4%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%a%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5352','D1316','F6521','J5236','J5252','M2425','P3625','R1631','S3151')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('C632','C64','F65','H43','H5','H625','L25','N2','O6','R16','S34','W425')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%j%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6364','B6252','E3634','G6216','J162','J5162','J5236','K6231','L6525','P3624','R1632','R52','T5242','V2362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('B6261','D1232','O4252','P5235','S3152','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','A6143','C52','G5242','L2352','L2654','M6352')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4236','A4253','A5361','B6165','F6524','J5163','J5214','M6216','S3541','V2362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','C6425','E4213','F6525','J5215','J5252','R1632','R2631','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B6','B65','C5','D5','H2','H4','J52','J525','M62','S415','W42','W452')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%jim%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%wa%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%i52%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4152','B5251','C6231','C6235','C6435','D5425','F6525','J1626','J2532','J5452','M2452','S52','S5262','T525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','B6535','C6231','C6235','F6525','R1632','R2632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','F6362','M6251','P3625','R1632','R2632','S2153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5362','B6535','C6231','C6235','F6521','R1632','R2632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B5','B6','B62','B626','M2','M625','O425','P62','R3','S415','S53')

SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B1626','C6426','F6521','F6524','J52','J5265','J5425','R1631','R1635','R1636','R2632','R2635')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%h6%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','C6235','E4213','J5162','K6235')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B6261','D1232','H4236','O4252','P5235','P6252','R363','S3152','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C6235')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4152','A6362','B6514','D1324','J5241','K5252','L2142','M6352','P3656','W4125')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6235','M4145','P3625','R1635','R2631','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6543','B6352','D1315','D2564','D5456','E3634','L2165','L6524','M2463','R5262','T5232','T532')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ke%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B3625','B3626','B6164','D5251','J2612','J4524','J5262','M2424','P436','R53','S252','S5253')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A5242','A5362','C6452','K5164','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('D1232','H4236','O4252','P5235','R363','S3152','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('G5242','L2654','U1562')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('D1316','F6521','J5236','J5252','M2425','P3625','S3151')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B624','C45','C5','D5','J52','L','M25','M635','S53')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4236','A5356','D1324','G6253','J25','M4245','P3621','P3656','R1632','V2361','V2362','W4525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf in ('A4253','A5362','C6231','C6235','M2425','S3152','S3162')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','C6231','E3241','P436','R1635','R2631','R2635')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%shei%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','B1614','C6231','J252','R1631','R1632','R2631','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6521','B6563','G6435','J5162','J5216','R1636','R2635')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A5242','B6165','J3261','J5162','M6242','M6252','P3625','S2525','S3521')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6524','D1326','D5216','D5252','J5243','J5245','K5252','M2415','M6216','T5252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B6342','C6252','F3264','H5362','J5252','J5256','M2354','M6256','P3625','S3152','S3652','S4153','W4525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('D12','H2','L','L5','M2','S5','S53')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('E4213','F4652')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5363','I2141','I2142','K3452','K6525','M52','M624','M6456','M6516','P3623','P3626','R2426','S5362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','C6423','C6424','C6425','F6521','F6524','F6525','R1631')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A4361','B6526','L1525','M6256','P6252','R2632','S1452','S4153','T5212')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%har%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B42','B6','B62','C636','C64','H3','H65','S5','S52','W16','W3','W425')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf in ('A5362','K6235','M6263','R1632','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5351','A5362','C6453','D1634','J253','J45','J5252','K6234','M6236','M6316','N2423','T5262')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%to%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%t4%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B6562','D1626','G5362','H5163','J1652','J2562','J5365','K1524','K3656','L2453','L6532','M525','M6453','S1526')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%min%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','B4525','B6245','D1232','M6352','O4252','R1632','R2632','R363','S3152','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%kin%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A3651','A4216','C6231','D5242','E3636','E6214','G4652','J5231','J6145','J6262','S524','S5265')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','C6231','F6525','J52','J5262','M2425','R1632','R2631','R2635')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5362','C6421','C6423','C6424','C6425','E6523','F6521','F6524','F6525','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A6525','C4326','D5242','J5236','L216','L4562','L6532','M3245','T5215')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('D5142','D52','E5252','J2152','J4524','K32','K452','L6526','M4252','M6215','M6325','M6515','N5252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4152','D1324','D5432','G6252','J5163','J5245','M2424','M2453','P3635','P3652','S3153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5362','B6535','C6231','F6521','F6525','R1632','R2632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('J52','J525','L2','L52','M2','W452')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('A625','B61','D2','G62','L532','M2','R2','R24','S52')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B624','C2','C6','M25','O425','S5','W3','W452','W5')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6524','D1352','G6252','J25','J5235','M2412','M2423','M2424','M6241','M6252','M6352','S3153','W4125','W4361','W4525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','C6231','C6235','D1325','F6523','F6524','J5165','J5216','J5242','M2416','P3623','R1636','R2634','R2635','S2153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','F6362','F6525','M6251','R1632','R1636','R2631')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%dou%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%h%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('A3654','B4353','B6156','C6264','D4253','D4262','L2562','L5326','M5323','R2461','S4362','S5236','S5245')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','B6262','G6262','H5362','H5435','M2354','M6253','R1632','R5432','W4526')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B626','B65','C2','C45','D12','D5','H4','L','L52','M635','S415','S5','S53','W5')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5352','B6161','B6563','D1316','F6521','F6523','J3261','J525','J5262','P3616','R3565')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C4162','D6235','F6323','F6352','G6254','K5452','L2526','M612','M6352','R3261','T526')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4252','A5364','G5362','G6265','G6356','J5251','M6246','P3625','T5252','V5253')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%s43%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%wal%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('F652')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','C6545')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','C6424','D5142','D5262','G1643','J5235','J5241','J5326','J6362','K3656','M2413','M3452','M6256','M6326','S2523')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','B6162','C6235','C6452','D5162','J5215','M6263','R3565')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5351','A5354','C6416','C6432','F6325','I5263','J5325','J62','M6243','O4162','R2635','S3162')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A5356','D5426','J2512','J5236','L24','M6265','N2421','R25','S3152','S5262','V2362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A6362','B6563','C6426','E4213','F6362','F6523','F6524','F6526','G6216','R2632','S2534','V4356')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5351','A5352','C6231','C6421','J5253','M2426','P3616','R1632','R1634','S3152','V4356')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A5352','D1316','F6521','M2425','P3625','R1631','S3151')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('C5','M2','M635','O425','S35','S53','T46','W42','W5')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6421','C6423','C6424','F6524','F6532','R1631','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5165','A5316','B6532','J2563','J5234','M6232','M6236','M6353','N2421','R3261','S3151','V5253')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%win%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%nor%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ram%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ett%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%tia%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('D5415','D5434','G2316','H5265','J4525','L2524','M2526','M5252','M6231','N6163','P4524','S6256','T6523','W4523')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5362','A6521','B1626','D1324','D1326','F6526','J5212','K6235','P3616','P3624','R2634','S3151')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%j45%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('L2352','S1452')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%raffe%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%cha%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5136','A5235','C6426','D252','G4652','J2124','J5153','M25','M26','M5412','P435','R2635','S3153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode in ('A365','G62','L15','P62','R2','R24','S43')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4152','E3631','J5214','J5236','J5241','P3652','P3656','S3541','T5252','V2361')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%f52%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%p25%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%d%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C6235','C6416','D5162','E4213','J5215','M6263')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B62','B65','H4','J52','L','M6','S53')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('B6532','B6535','C6252','D5252','J5252','L5352','M6253','P6252','S5325','W4252','W4262','W4523','W4526')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A5362','C6421','C6423','C6424','E6523','F6521','F6524','F6525','R1631','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%m41%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4262','C6232','C6521','E4516','I6526','J5265','J5616','L2425','M4532','M6234','S4125','S5162')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('D1352','F6524','G6352','J5163','J5235','M2453','M6352','S3153','W4125','W4516')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ale%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5361','D52','D5432','F6521','F6535','J2165','J6241','M2412','M2425','M2435','M2452','M62','M6216','S3162','S5362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%fran%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%p54%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A3562','B6534','C6241','C6435','E3634','H5252','J5236','J5426','L2125','L2142','L6521','M3265','O4165','T5212','T5256')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B6526','D1232','H4236','P5235','P6252','R2632','R363','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','F6523','F6524','F6532','G6216','H6163','R2632','S2534','V4356','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B2','B4','B6','D12','D25','J52','L','L52','M2','R2','R3','R5')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%bamb%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%dr%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%frie%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%mon%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','C6231','C6421','F6523','F6525','J5265','R1631','R1635','R2631','R2632','R2635','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5365','C6421','D542','F6362','J2452','J5163','M2416','M2426','M6253','R54','S3153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C642','D1324','D5415','E5621','G1641','G6235','G625','H2525','J2354','P4262','S5452','T3525','T5232')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','B6535','C6231','F6525','R1632','R2632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B6','B62','H2','L2','S5','S53','W42','W452')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A4361','B6526','M6256','M6352','P6252','R1525','R2632','S3152','S4153','S5362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','D1315','E3632','G6242','G6265','J2125','J2134','J513','J5353','M2413','M6215','M6246','P4216','S1524','S3151')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf in ('A4253','A5362','C6231','C6235','C6424','G6212','M5456','R2632','S3152','S3162','W5245')

SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4216','C6231','C6241','D252','D5262','D5435','D5463','G6535','H6323','J2142','J2452','M3265','T5212')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%r2%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','B4525','D1232','J5252','O4252','R1632','R363')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A5352','C6231','F6521','F6525','J252','J5162','J5216','J5235','J5252','M2416','R2631','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B2','B4','C2','C5','D12','G6','H63','K5','L5','W42','W452')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B2','B452','C2','C5','D12','H2','R5','S35','T46','W3','W42')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B624','C5','G6','J52','L2','L5','M62','W3')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%jos%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5141','A5253','A5363','A5365','B1626','B6523','C6235','G1642','G6256','J5214','J526','L6524','S525','W4125')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6421','C6423','C6424','C6426','F6524','R2632','V4356','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%w%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%g4%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5352','B6563','F6523','F6524','J5216','J525','J5262','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','B6245','B6261','B6526','D1232','J5252','M6352','O4252','P6252','R2632','R363','S3152','S5362','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6421','C6423','C6424','C6426','F6524','R1631','R2632','V4356','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%we%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%a4%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','C6235','F6521','R1631','R1632','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A2352','A6543','B5252','C6253','D1325','J256','J5','J5232','J563','M5425','P3615','R54','T5214','T525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%brian%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%l15%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf in ('B4353','B6156','D4262','D4626','L1561','L5326','R2461','S4362','S5236','S5245')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6514','D1352','E3631','G6262','J5236','J5261','J5263','L2142','M4245','M6352','S3521','W4361','W4525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%a54%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B42','B6','B62','B65','H2','L','L2','L5','S53','W3')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('E4213','M6263')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','B6261','D1232','M6352','O4252','R1632','S3152','S5362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4212','A6523','D5414','D5415','F6526','G6253','H2365','H4516','J5236','P452')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B42','B65','F652','H2','H4','J52','L2','L5','R2','S53','W3','W42')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','D5262','J23','J5235','J5241','J5362','J565','J6362','M5456','M6235','M6416','M6563','S2521','S2523')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A5352','A5362','C6423','C6424','C6425','E6523','F6524','F6525','R1631','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B5','B6','B65','C5','M2','M46','N425','O425','W3')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5362','J2452','J5162','M2345','M252','M6453','R2562','S26','S3151','S3152','T5252','T6252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6326','D5362','F6523','F6525','F6532','H5252','H5625','J5242','J5251','J6241','M6351','T525','T5263')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%brig%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4256','A5232','B4532','C6541','D1614','E4516','K452','M5236','M6415','M6514','M6545','O4212','R3565','V4535')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A6521','B6563','C6235','F6525','G6435','J5162','J5216','M4532','R1636','R215','R252','R2635')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%bra%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','C6235','D5216','E3241','G6252','J5162','P3625','R1632','S3152','S3521')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5352','A5362','C6423','C6424','C6425','E6523','F6521','F6524','F6525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B65','C2','C5','G62','H4','M2','M6','R5','T46')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','E4213','F6362','F6525','J513','M6251','M6263','P3625','R1631','R1632','R1636','R2631')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ber%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','B6162','C6416','C6452','D5162','E4213','J5215','M6263','R3565')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('M6352','R1632','S1452')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B42','B62','F652','H2','H4','J52','L','M6','R2','S53')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','C6235','C6425','C6426','F6524','J5265','M6216','R1635','R1636','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%k5%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5263','A5316','A5352','A5362','B6161','B6232','C6451','J5164','M5326','M623','M6253','M6316')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('B6261','D1232','J5256','O4252','R363','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%g35%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A4361','A5362','B6261','R363','S4153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5242','B4325','C6235','C6545','G6431','J252','K3652','M2346','M6216','R1624','R1634','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','D5216','D5432','E3631','F6524','G6253','J5163','J5214','L2142','P3652','V2361')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6216','B6341','C6424','E3635','F4241','J253','J5232','J5261','J5351','K52','L216','R2634','R5352','S5362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6424','C6426','F6524','F6532','R2632','V4356')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%k61%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A5242','B6165','J3261','J5162','M6232','M6242','M6252','P3625','S2525','S3521')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','B6563','D1316','F6521','F6523','F6524','J5216','J5262','P3616')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A6362','B6563','E3632','F6362','F6523','F6524','G6216','H6163','R1635','R2632','S2534','V4356','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5361','G6253','J5162','J5264','M2414','M242','M2423','M4245','M6352','P3614','P3652','R1632','V2362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A6362','B6563','C6426','E4213','F4652','F6362','F6523','F6526','F6532','G6216','H6163','R2632','S2534','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('H4','J525','M2','M6','N425','T521','W452')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%russ%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('B6261','M6256','M6352','P6252','R1632','R2632','S4153','S5362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6325','B6525','D5236','E3631','F6525','J2165','J5245','K1515','M6265','M6356','O4162')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','B6162','C6235','C6416','E4213','M6263','R3565')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4236','A5356','B6514','D5252','J2425','J5235','J5243','K5252','M242','M6216','M6245','P3614','P3656','S3521')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5242','A5352','F6521','F6525','J5236','J5252','M2425','R1631','S3151')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%hann%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','B6165','J3261','K6235','M6232','M6242','M6252','S2525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6421','C6423','C6424','C6426','F6524','F6532','R1631','R2632','V4356')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5246','A5264','C4352','E4516','F6526','H4523','H4563','J5241','J5263','K6232','M6264','N2432','S2542','V4535')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6162','C6235','C6416','C6452','E4213','R3565')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5365','C6462','J2363','J2532','J45','K1525','L6525','P3652','R2634','R3412','S5362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B6','G6','H62','L','L2','L52','O425','S415','T52')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ambr%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5352','F6525','M6263','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode in ('B624','B65','J52','J525','R2')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4524','A5352','C6235','F6536','G6316','J2565','J515','J5216','M2423','R1425','R3261','R5262','S5242','W4523')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%fr%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%e35%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode in ('B624','B65','J525','R2','S53')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B4525','B6261','D1232','H4236','J5252','P5235','P6252','R1632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','D5162','F6524','F6525','J5215','P436','R1635','R2632','R2635','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5242','A5363','J5162','J5245','K6235','L5632','M4245','M6352','N5253','R5636')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%joe%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5242','A5352','D1316','F6521','F6525','J5236','R1631','S3151')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%sha%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ven%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5164','B3625','B6352','C6232','C6436','D5241','F4126','F6536','G6342','L2524','M232','P4526','R5431','S5265','T5236')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','E4213','F6525','J513','M6251','M6263','P3625','R1631','R2631')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5362','E6523','F6525','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('B6245','H4236')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4251','A525','A5361','J2452','K3652','K6234','M6236','P3621','R2325','S4123','S5362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B452','B635','B653','C42','C52','C63','G52','K5','K62','L6','M52','O2','R25')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%man%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ko%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B2','B65','C','K52','L235','R2')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('B6245','B6261','D1232','H4236','J5252','M6352','O4252','P5235','P6252','R1632','R363','S3152','S5362','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','J3261','R3565')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('G65','H63','L','M25','M6','R3','W42','W452')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('D5162','J5215','K6235','M6263')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B6','B62','C5','H2','H4','J52','L','M6','R2','S5')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('D1352','H6252','J2142','J524','J5256','J535','M2545','M6234','M6245','P3616','P3635','T52')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf in ('A4253','A5362','A6532','C6231','C6235','J6362','R1634','R516','R5316','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4256','A5136','C6423','C6521','D1262','E4516','L242','L2524','L652','M5216','M6541','R2416','S2512')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B65','C5','H4','J525','M62','M635','N425','R2','S53','T46')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','B6535','C6235','K6235','R1632','R2632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ban%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','B6535','C6231','C6235','F6521','F6525','R1631','R1632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','C6231','C6235','C6421','F6525','J5215','J5216','J5425','M4145','R1632','R1634')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%rob%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%s31%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%g%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%nic%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%k6%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5362','B6535','C6421','C6424','D1325','E4213','J5216','J5242','K5263','M2416','M2453','M4145','R1632','R1634','S3151')

SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('A45','B42','B6','B63','D12','D5','H62','R','R5','S23')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%bran%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf in ('A1431','A5242','J242','J5245','J5352','K5315','M6153','M6323','N5253','R5414','R5636','S5152','Z3625')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%th%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('H4236','P5235','P6252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5365','B1626','B5252','B6526','D1324','E6252','F4241','G6261','G6265','J5235','J5241','M2415','M2424','S3152','S3156')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','E4213','K6235')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%val%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%s4%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%sto%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%laur%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B65','L2','M6','R2','S5','T521','W3')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B65','D12','F652','K52','L2','L5','M635','R2','S23')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('P5235')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%rich%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B4525','B6261','D1232','P5235','R1632','R363','S3152','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5242','A5361','A6361','B6514','B6524','C6452','F6521','J2425','J5163','J5214','M6252','P3625','T5252','W4125','W4361')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B65','F652','G6','H4','J52','L','M6','M62','R2','S53')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf in ('A5362','A6532','C5321','C6231','C6235','R5316')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('D1313','D5431','D5456','G4163','H526','L6523','P1426','R2532','S2153','S3163','S5242')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%m%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%e62%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%thomas%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C6231','C6235','C6451','L6525','M5456','M6324','P3621','R2325','S2524','S652')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%cree%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5351','C6235','C6421','C6425','F6362','F6521','J5216','J525','P3623','R1632','R1636','V4356','V5253')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C3656','C6416','C6453','C6454','G1642','J5245','M6532','M6536','R2425','S2525','S2526','T6253')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B4','C2','C5','G6','J525','L','P62','S23','S5','T521')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','C6425','E3241','F6524','J5252','J5265','M2416','P3625','R1635','R2635','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B4','B62','B626','B63','C2','C52','F652','J52','L2','M46','M62','R2','R24')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','B1614','B1626','C6231','C6424','D1325','F6524','H526','J252','J5162','J525','J5252','P3625','R1634')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%t12%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%rache%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4236','D5234','G6256','J1626','J2165','J23','M2463','M6232','M6261','M6262','O4161','T6235')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','B6535','C6235','C6424','C6426','G6216','G6252','J5162','J525','J5253','M4145','P3624','R2634','W4525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B634','D12','D5','F65','H62','J525','M45','P62','R2','R3','T46','T521','W425')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf in ('A4163','C6231','C6426','J5362','M2425','R1632','R2632','S3152','W5245')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','B1642','C6452','J2452','J5165','K3451','L5326','M4532','P3621')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','E3632','F6362','F6523','F6524','F6526','G6216','H6163','R1635','R1636','S2534')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf in ('A5362','F3264','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5362','F6521','G6232','H5625','J1625','J2125','J5212','M6353','R2631','S1526','T5263','V2363')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B42','F652','H4','J52','R2')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf in ('B4353','B6156','C6264','D4253','D4262','L1561','L2562','L5326','S4362','S5236')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A426','B62','C425','D5412','D6251','E2526','G6354','H424','H6156','J5214','K6235','L2426','N3141','O3165','R2145','V4321','V652')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B5','B626','C5','D4','H2','K5','L','L2','M2','M62','P62','S415','S5','W42')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6524','D1324','G6252','G6352','J5163','M2414','M2423','M2453','P3656','S3541','T5252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','B1626','C6421','F6523','F6524','F6525','J5252','M6216','R1632','R2631','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%j6%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B2','B626','C16','C64','F652','G62','H2','H3','J25','L6','M5','M62','O165','S52')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','B6161','B6563','F6521','F6523','F6524','J3261','J5216','J5262','P3616','R1635','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','D5234','H526','H626','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','C6425','E6523','F6521','F6525','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ken%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A6362','E3632','F4652','F6362','F6523','F6526','F6532','G6216','H6163','R1635','R1636','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode in ('A236','A645','C36','D16','F652','L5','M2','M342','M54','N1','N16','R242','S2','V462')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A5352','A5362','C6231','C6235','F6525','R1631','R1632','R2632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B62','B63','C65','D2','E152','J525','L15','M2','M62','S')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%k34%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('A5362','H4236')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4215','B6232','C6542','D5423','G5362','G6435','J6525','L6521','M5416','N3425','W4562')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4252','C6235','J5162','K3451','M6263','S3521')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','E4213','F6362','F6525','M6263','R1631','R1632','R1636','R2631','R2632','S2153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','B6563','D1316','F6521','F6523','F6524','J3261','J5216','J525','J5262','P3616','R1635','R3565','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B62','C2','H2','J525','M46','M6','M62','S5','S53','W3')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','B6161','B6563','D1316','F6521','F6523','F6524','J3261','J5216','J525','J5262','P3616','R1635','R3565','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B5','B65','H2','K4','M25','M635','O425','R3','S23','S53','T52','W452')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5242','A5361','D1324','G6262','J5163','J5264','K5252','K6235','M2415','M2453','M6352','S3151','S3153','V2361')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B2','B4','B6','B63','C2','C5','G6','J525','L','M62','P62','R3','S23')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5362','B6535','C6235','C6421','C6423','C6424','D1326','G6216','G6252','J5162','M4145','P3623','R1634','R2636','W4516')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ti%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5356','E3631','G6253','G6262','M6126','M6241','M6252','P3625','S2525','S3541','V2362','W4525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4152','A4236','A6362','B6514','E3631','J25','M2414','M2424','M6242','M6245','M6252','P3614','V2362','W4361')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%jo%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('A45','B42','B452','C462','H62','H65','M5','P6','S23','S363','Y52')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','C6235','R1632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5351','A5352','E4213','F6525','H6163','M2416','R1632','V4356','V5253','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode in ('A645','B4','B5','C36','D12','G62','K52','L15','M252','N16','R362','S5')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%cola%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%s%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%k56%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('D5162','J5215')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','E6523','F6521','F6525','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5365','C6262','D1326','J2124','J2156','J5242','J545','M6126','M6253','M6354','N2423','P4126','R5252','S3154','W4125')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('B6526','M6256','R1525','R2632','S4153','S5362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4216','B6161','C3656','E2364','F6523','I2143','K3452','K3651','M52','M6253','M6352','M6532','S1524','S3151')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','C6426','D1316','D5216','G6216','G6252','J525','M6263','P3616','P3624','P436','W4525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%rie%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','R1631','R2631','R2632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%mari%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5242','A5352','D1316','F6525','J5252','M2425','P3625','R1631','S3151')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%hassa%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%d%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B635','C45','G6','H52','J525','K5','K52','L','L52','M24','M5','M62','M635')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%k3%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4252','B6161','B6162','J5162','K3451','K3652','L5326')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B42','B624','H2','J52','L2','M6','R2','S53')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5352','B1626','B6563','C6231','C6235','J513','J5241','J5252','M2452','R3565')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B4','B5','B65','C5','H4','K5','M25','M6','M625','M635','O425','S5','S53')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','D5252','G6252','G6352','J25','M242','M4245','M6216','P3614','P3635','S3541','T5252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%bori%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B4','B6','C462','D12','D25','G65','H65','J525','K5','P6','P62','R3','S5')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B62','G635','K4','L52','R3','S415','S5','W3')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%jan%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%co%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','B6535','C6231','C6235','F6525','R1632','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','D1326','E3632','G6253','J5162','J524','M2423','M2452','S3152','W4516')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%an%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ang%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%gha%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B4','B62','D5','G6','J52','J525','L15','L52','P62','R3','S5','T521','W425')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','C6424','C6425','E6523','F6521','F6525','M6263','R1631')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%l2%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%b4%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf in ('A4253','C6231','C6235','C6424','M2425','M5456','R2632','S3162')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4525','F6362','G6216','J5215','J5253','M2435','M6234','P3656','T525','T5265')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A4361','A5362','B6261','J5252','J5256','M6256','M6352','O4252','P6252','R2632','S3652','T5125')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B2','B4','B42','B62','C2','G6','J525','L','L2','L5','S53','W3')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6563','D1316','F6523','J5252','P3625','R1635','R2631','S3151','W4125')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','B6161','C6423','C6424','E3241','F6525','G6252','J52','J5265','K3451','M2425','M6263','P436','R1634','W4516')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B6','B62','C','C5','D25','F652','J52','L2','M25','M62','M635','R2','T52','W452')

SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5362','E6523','F6521','F6525','M6263','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5352','A5362','F6521','F6525','M6263','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%kim%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5625','B6162','C6215','C6231','D5256','J2124','J2353','J5216','K3652','P425','S5326')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','E6523','F6521','F6525','M6263')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','B6514','G6256','J25','J5243','J5263','M2453','M4245','M6241','S3151','S3153','T5252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%lov%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5236','A5352','B6163','C6235','C6456','H4521','J5245','S1524','S2516','S5362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','B6261','D1232','O4252','R363','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%c61%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B1626','C6231','C6424','E3241','J5216','J5235','J525','J5253','K6235','P3625','R1632','W4516')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%da%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B4521','C435','C6245','D5241','D535','E5161','E5165','H32','I6515','K2526','K3161','K6515','L6263','L6414','L6541','M6236','P5414','S3625','S4521','T261','V1524')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('E3632','F6362','F6523','F6524','F6526','F6532','G6216','H6163','R1636','R2632','S2534','V4356','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%c64%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%cam%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%gal%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%h6%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','C6425','E6523','F6525','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','D5162','K6235')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%jul%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%s25%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','A5352','C6423','C6426','E3632','E6523','F6523','F6526','G6216','J5216','J5242','P3624','R1636','R2634')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5362','C6421','C6423','C6424','E6523','F6525','R1631','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%cu%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%fer%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','A5362','C6452','K3652','K5164','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%d42%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode in ('B62','B65','J525','R2','S53')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf in ('A4163','A4253','A5362','A6532','C5321','C6231','C6235','R516','R5316','S3152','S3521')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5362','C6421','C6423','C6424','E6523','F6524','F6525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A2365','A6252','C52','D1614','E1524','E2163','L1214','L2','P5215','Q5325','R2425','S1452','T5212','V4524','V4626')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%e25%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%wi%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf in ('A2365','A6252','D1614','E1524','L1214','L2','M3425','M6352','P5215','Q5325','R2425','R3626','S5325','V4626')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','F6362','J513','M6251','M6263','P3625','R1631','R1632','R1636','R2631','R2632','S2153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%kar%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('A45','B65','C4','C65','F652','G6','H52','J52','L2','L5','L52','M24','P6','W3')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','B6165','J3261','J5162','M6232','P3625','S3521')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5352','A5362','B6563','D5162','F6362','H6163','J52','J5215','J5242','J5262','R1632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode in ('B4','B6','B624','C5','D12','D5','G65','K5','L','L2','L52','M2','W3')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('E4213','K6235')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A6362','B6563','E3632','F6362','F6524','F6526','F6532','H6163','R1635','R1636','R2632','S2534','V4356','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','C6421','C6423','C6424','E6523','F6521','F6524','F6525','M6263','R1631')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%lou%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%riz%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A3516','A3524','A4524','G4526','G5435','H6232','J2121','J5153','J5416','M24','M5416','M6254','M6261','T526')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','J5245','J5342','K6235','M4532','M6263','R215','R5414','S5152','Z3625')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%c%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%mc%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf in ('C6235','D5216','E6252','J2165','K3145','K3652','L365','M6216','R1624','R5345')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5242','A5352','B6563','D1316','F6523','J5236','M2416','M2425','P3625','R1631','R1635','S3151','W4125')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6425','F6525','G6252','J5252','J5265','R1632','R1635','R1636','R2635')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6525','G6325','J2123','K1526','K5235','L216','M6126','P362','S2153','S4136')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('C2345')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%john%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','C6425','E3241','F6524','H626','J52','J5252','J5265','R1635')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5356','B6563','D1316','F6523','J5236','J5252','P3625','R1635','R2631','S3151','W4125')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','C6231','F6525','F6532','G6214','G6352','H5625','J2516','J5215','J5243','M2453','P3614','S3153','S3154','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('F6521','J513','J5215','J5242','M6251','P3623','R1634','R2631','R2634','R2635','V4356')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','B6161','B6563','D1316','F6521','F6523','F6524','J3261','J5216','J5262','P3616','R1635','R3565','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%k54%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('B4525','B6261','D1232','H4236','O4252','P6252','R363','S3152','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%g25%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('C45','C5','D4','G65','H2','H4','H63','K5','L','P4','T46','W42','W5')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5352','A5362','F6521','F6523','J525','J5252','J5262','M2426','R1631','R1632','R2636','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A6362','E4213','F4652','F6362','F6523','F6524','F6526','G6216','R1636','S2534','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A4361','B6535','C6325','G6262','M6256','P3625','P6252','R1525','R2632','S1452','S4153','T5212','W4525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','E4213','K3451')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','B6261','B6526','D1232','J5252','M6352','O4252','R1632','R363','S3152','S5362','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','F6525','M6251','P3625','R1631','R1632','R1636','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf in ('A4253','A5361','C6231','C6235','G6212','S3162','W5245')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%anita%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B2','C2','C45','C5','D5','M2','M25','M625','O425','P62')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf in ('A3654','B4353','B6156','C6264','D4253','D4262','D4626','F6532','L1561','L5326','N2426','R2461','S5236')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5356','D1316','F6523','J5236','J5252','P3625','R1635','R2631','W4125')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%b%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','C6416','C6452','D5162','E4213','M6263','R3565')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','D5162','E4213','J5162','J5215','K6235')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6421','C6424','C6425','C6426','F6524','F6532','R1631','R2632','V4356')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%kr%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A1654','A2362','A4252','A5263','B6462','D235','D5464','E6246','H2425','J2432','K6523','K6532','L16','L5342','M415','N5236','P4125','P6545','S35','S6235','W53','Z4261')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%e54%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5352','A5362','C6421','C6423','C6424','E6523','F6521','F6524','F6525','R1631','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5362','B6535','C6231','C6235','E4213','K6235','R1632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','C6231','C6424','C6425','F6521','H6163','J5165','J5235','J5253','J5262','J5425','R1636')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%g4%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5361','D5252','J2425','J5235','K5252','M2453','M6126','M6245','P3621','S3151','W4125','W4516')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B4525','B6261','D1232','O4252','P5235','R363','S3152','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','C6231','C6421','C6423','C6425','F6521','F6524','F6525','R1631','R1632','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B4','B6','C5','D12','G65','J52','M2','M25','R2','S5','T46','W3')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%y2%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5242','B6563','D1316','J5252','M2416','M2425','P3625','R1631','R1635','W4125')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('L','R2','S53')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('B6525','B6526','C6325','J5256','M6256','P3625','P6252','R1525','R2632','S1452','S4153','W4525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%amal%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('A436','B26','B626','C63','D52','F6','M5','M62','P4','W256','W426')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','B4525','B6245','O4252','R363','S3152','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A4361','A5362','B6525','B6526','C6325','G6262','J5256','M6256','P3625','P6252','R1525','R2632','S4153','W4525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','B6535','C6231','C6235','F6521','F6525','K6235','R2632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A4361','B6261','D1232','J5256','M2354','M6256','M6352','R1525','R2632','S3152','S5362','W4525','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B25','D1','H3','L235','L6','M45','M63','O165','O6','R2','S2','W256','W5')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%que%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%sy%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5162','A5165','A525','C5321','L5324','M6214','M6265','M6342','M6352','N2416','P3625','S4123')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A2425','D1626','D5262','G6435','J5241','J5616','L2524','M6165','M6365','N2432','S1525','S6532','V6412','V6525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B6','C','D25','J52','L2','L235','M35','S532')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%yl%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B2','B5','B626','C45','H4','J52','L52','M2','O425','S5','T46','W3','W42')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%g24%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%hu%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','B6165','J3261','J5162','M6232','M6242','M6252','P3625')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','B1626','C6426','D1326','F6523','G6252','J5236','J525','L5326','P436','R2634','V5253')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','B6162','C6235','C6416','C6452','E4213','J5215','M6263')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%n52%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','B1626','C6231','C6421','C6425','E4213','F6521','J5425','R1631','R1635','R2631','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C6235','D5162','M6216','M6263')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','B6535','C6231','F6525','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%richard%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6514','D1352','J5163','J5245','M2423','M6126','M6241','M6245','M6252','P3614','V2361','W4125','W4525')

SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','F6525','M6251','P3625','R1631','R1632','R2631','R2632','S2153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A5354','C3654','C6231','G6252','J2152','J23','M2426','M6215','M6312','M6542','R2414','S1652','W5245')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%danie%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%will%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode in ('B65','J52','J525','R2','S53')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%fra%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','C6235','E4213','F6521','I6532','M6153','M6323','R215','R5636','S3521','Z3625')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5242','A5352','D1316','F6521','F6525','J5252','M2425','P3625','R1631','S3151')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%coppol%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','B1614','C6231','J252','J5252','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','B6563','C6426','E3632','F6362','F6526','F6532','G6216','H6163','R1635','R2632','S2534','V4356','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('C62','D16','H2','J52','L25','L5','L52','M62','S')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%m65%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B62','B65','H4','J52','L2','S53','W3')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%t45%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','C6416','D2313','F6325','G6524','H6232','J236','J2516','J5152','J5352','M2461','P412','S2325','T2563','T5325')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A4361','A5362','B6525','B6526','M6256','P3625','P6252','R1525','R2632','S4153','W4525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A5363','I2145','J2452','J3261','L5324','M6214','M6524','R2562','V6252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%om%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%pet%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('A3654','B4353','C6264','D2362','D4262','F6532','L1561','M5323','N2426','R2461','S4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','B6563','D1316','F6521','F6523','F6524','J5216','J5262','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%petr%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A52','A5243','A532','C4316','C6456','D525','G1642','M2345','M6165','M6456','M6562')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','J5162','K3451','K6235')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','K3451','M6216')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%m3%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','B6563','D1316','F6521','F6523','J5216','J525','P3616','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','B6323','C6231','C6412','F6523','L2453','L4525','L4562','L5325','M2','M4252','N3426','S2353','V6525','W5245')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5352','C6425','E3632','F6524','J5215','J5252','M2425','M2426','P3625','R2632','R2636','V5253')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('C4','C62','C632','D5','F6','F63','G63','H2','L5','M245','S','S6')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','C6425','D5162','E4213','F6524','F6525','R1632','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode in ('B62','B65','L15','S53','T521')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4542','B421','C4624','D5251','E5626','G1641','H4523','J2121','L652','N2425','N5252','T5251')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A2351','A5264','C6235','D1325','E4532','G5362','G6351','H5215','J2352','J2612','J56','M6325','M6542','O4212','S6253')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ha%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%hard%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%sa%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode in ('B624','D25','J525','L','L2','L52','L532','P62','R2','R52')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A353','A3562','D5463','E6214','G5362','G624','H6252','J6251','L5631','P3653','R252','S6216','T5256')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5242','A5352','D1316','E4213','F6521','J5252','M2425','P3625','S3151')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ger%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%bri%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B6','B626','C2','C45','J52','M2','M25','M6','O425','S23','S415')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5242','A5352','D1316','F6525','J5236','M2425','P3625','R1631','S3151')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A6362','B1626','C6216','C6452','D1326','J2452','J2516','J5163','J5165','J5241','J5263','L5326','P3621','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%en%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','B6162','C6235','C6416','D5162','M6216','M6263','R3565')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%knig%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B6525','B6526','G6262','J5256','M6256','P3625','R1525','R2632','S1452','S4153','W4525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%w4%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B5','B65','D4','H25','H63','J52','K5','M46','M62','O425','R2','S35')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B62','B65','H4','J52','L','M6','R2')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5362','C6231','C6235','E4213','F6521','F6525','K6235','R2632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%mark%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%eve%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5143','C5652','C6235','C6241','F6524','G6524','H4516','J534','J6524','L2125','R5236','T54')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%gri%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4523','J2165','J252','J5252','K3652','M6215','R1632','R1634','R5345')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A2425','A2525','A4256','C3452','C4326','L242','M625','M6365','N52','S1526','S2521','S2542')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B624','B65','H4','J52','R2')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B65','F652','H4','L','L2','R2')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf in ('C6231','C6235','J5162','K6235','M6216','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A5242','B6165','J3261','J5162','M6232','M6242','M6252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B26','B5','B63','C5','C62','G635','H62','L','P62','S23')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%car%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','C6424','C6425','C6426','F6524','F6525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','C6425','E6523','F6521','F6525','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode in ('B65','R2')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5356','B6563','F6523','J5236','J5252','M2416','M2425','P3625','R1635','R2631','S3151','W4125')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A5242','J3261','J5162','K6235','M6232','M6252','S2525','S3521')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C6423','J2525','J4524','J5241','L216','L242','L2516','L4562','M6541','P15')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A2351','B6512','B6534','D5162','E6236','I2315','L6521','M24','P4252','R1632','S2325')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%h%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%menez%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ros%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A4361','B6525','C6325','G6262','J5256','P3625','P6252','R2632','S1452','S4153','T5212','W4525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5352','A5362','B1626','B6563','C6231','C6425','C6426','D1316','D1325','E6523','F6524','J5262','M2452','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5362','D132','D1325','G6261','J5162','J5245','J5354','M2416','M2425','M6265','S3125')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','C6416','C6452','D5162','J5215','M6216','M6263','R3565')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6425','F6525','R1631','R1632','R2631','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6421','C6423','C6424','C6426','F6524','F6532','R1631','R2632','V4356','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%t52%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf in ('C6235','M6216')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B1626','C6425','E3241','E4213','F6524','P3625','R2635')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5162','A5362','D132','H5163','J2642','J5253','J5352','N2421','P4125')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%a15%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5352','B6161','B6563','D1316','F6523','F6524','J3261','J5216','J525','J5262','P3616','R1635','R3565','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','E4213','F6521','J5216','J5235','J5252','J5253','R1631','R1632','R1635','R2631','R2632','R2635','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','B4525','B6245','B6261','D1232','J5252','O4252','R1632','S3152','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('D2313','E3261','G625','J5141','K1524','L2125','M2563','M265','M3215','P3625','S5326','S6256','T5252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%bur%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B3626','D2425','D6235','H4563','J5236','K6426','M6264','M6542','P1426','S1525','T526')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ro%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','C6432','D1352','J2425','J2526','J5234','J5625','M2453','M2525','M6263')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A2365','A6252','C52','C6325','E1524','J5252','P6235','Q5325','R1632','R2425','R25','R3626','V4524','V4626')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A4361','B6261','B6526','S1452','S3152','S4153','S5362','T5212')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%sore%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6423','C6426','F6524','F6532','R1631','V4356','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%le%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B6245','B6261','H4236','P5235','P6252','R363','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('A436','B635','C16','C45','C65','F63','F652','G6','K4','K52','M324','P4','P6','W425')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4524','E3632','G1641','G6212','J236','J265','J5213','J5215','J5254','J5635','M6265','N2421','N2423','P3632','W4524')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5352','B6563','D1316','J5252','P3625','R1631','R1635','R2631','S3151','W4125')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6423','C6424','E3632','E6523','J513','M2425','M2426','M2452','P3616','R1634')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%f2%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ben%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%y%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%nico%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B6245','B6261','D1232','H4236','J5252','M6352','O4252','P5235','P6252','R1632','R363','S3152','S5362','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%tom%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4152','A5361','B6514','F6532','J25','J5241','L2142','M2423','M6245','M6354','W4525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ren%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5362','B6535','C6231','C6235','K6235','R1632','R2632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4252','B6162','C6235','J5162','K3451','L5326','M6216','S3521')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('A436','B2','B26','C45','D5','G65','M25','M46','P62','R2','S415')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%pe%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ir%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A4361','B6525','B6526','J5252','M2354','M6262','S3152','T5125')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','B6535','C6231','C6235','E4213','F6521','F6525','K6235','R2632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5353','A6361','B6516','B6563','D542','G6252','J2165','J2416','J5262','J5263','J5353','P362','P3621','R52','S3126')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ver%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('C636','H62','K4','K5','L535','M42','M624','N25','R32','T26','V2')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%albe%'

SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','A6143','L2352','M6352')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%po%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B6261','D1232','H4236','J5252','M6352','R1632','R363','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('P6252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B6','B626','C45','G62','H4','H62','J52','J525','K4','R24','R5','W5')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5145','A5236','A5325','C6454','D525','J5161','L6325','M6324','M6453','P3624','S2516','S5365','T6252','V53','V6521')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','K3451','M6263')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('J5235','J5253','J5262','K5263','R2631')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','B6535','C6231','C6421','C6426','J5252','J5262','K6235','M2425','M4145','M6263','R1634','R1636')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B42','B53','B626','B652','C462','F63','G635','H52','M324','N425','P2','P6','S52')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5352','A5362','F6521','F6525','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','D5162','J5215','K6235','M6216')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('A45','B42','B452','C16','C452','C636','C64','G635','P412','P6','R','R24','W426')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%jacq%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A52','A524','A525','A5352','A5362','B6162','B6165','I5263','K6234','M6253','M6353','M6523','P3625','T6252','V53')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('F6524','F6525','R1632','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%red%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A3525','A6361','C4562','D6424','F6535','G5356','G6212','I2652','J1435','J164','J5365','J6354','K3261','K6434','M253','M6216','M6252','P3626','P4126','P4546','R1424','R146','T252','T5414')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf in ('C6231','C6235')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','B6535','C6231','C6235','E4213','F6521','F6525','K6235','R1632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6423','C6424','F6524','F6532','R1631','R2632','V4356')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode in ('R2')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','B6563','C6426','E3632','F6362','F6526','F6532','G6216','R1635','R2632','V4356')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%no%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%n4%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B42','B62','B65','H2','J52','L','L2','M6','R2')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('A52','S532','U15')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','B1626','B6162','B6563','E3632','E6523','F6362','J5162','J5241','J5262','P3623','P3626','R1632','V4356')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B4','D5','G65','H2','H63','J52','K5','M2','M635','P62','S35','S5','T46','W452')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%n61%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%h32%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B25','B42','B61','D16','H25','H4','H62','K5','L','L532','S2','S23','S53','W425')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','F6362','F6525','J513','R1631','R1632','R1636','R2631','S2153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ra%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A5216','A5263','A5264','B6164','F6523','G1642','J5162','K3652','M6243','M6254','M6523','S1524','T6252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4252','A6521','B6563','D1325','J252','J5236','J525','M2452','M2453','M6263','R2636','W4516')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('B6342','H4236')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B2','H25','J525','K4','M625','O425','R3','R5')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4252','B1626','C6421','F6525','J52','M2425','P3625','R1631','R1635','R1636')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B1626','C6423','C6424','C6425','D5162','F6521','F6524','F6525','J52','J5216','J5425','M6263','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','A5352','A5362','C6421','C6423','C6424','C6425','E6523','F6521','F6524','F6525','R1631','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4262','D5252','G6212','J5212','M2436','M6242','M6352','P425','S3126','T5214')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6423','C6424','C6426','F6524','F6532','R1631','R2632','V4356','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%par%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','A5253','A5324','C6431','D5252','F6525','F6526','J5253','J5262','K3453','M5456','S525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A5216','A525','B6232','I2142','K3651','K3654','K6525','M2416','M2425','M6353','T6252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%tan%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5363','A5365','B6516','F6524','F6526','J2363','J523','J6241','M2416','M6252','M6253','S3126')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B2','B6','B653','C5','D12','D2','D25','D62','F63','G6','H63','J525','P6','W452')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','F6362','F6525','J513','M6251','M6263','P3625','R1631','R1632','R2631','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','E6523','F6521','F6525','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%av%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5362','B6535','C6235','E4213','F6525','R1631','R1632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6532','B6252','B6341','B6532','C6423','C6462','D52','D5242','J5216','J535','K1526','T5256','W4362')
Total execution time: 487.60989570617676

# Executing Workload Queries on our Generated Data

In [25]:
CMD2 = "python3 eval_data.py --data_kind {} --num_queries {} \
--inp_to_eval n --port 5432 --workload ceb --db_name imdb --result_dir new_results".format(DKIND, NUMQ)
out = os.system(CMD2)

data/ceb-all/sqls/dfs/expr_df.csv
Number of sqls to evaluate: 783
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','E4213','F6362','F6525','J513','M6251','M6263','P3625','R1632','R1636','R2631','R2632','S2153')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6361','D1326','D1352','G6262','J5241','J5245','J5263','L2142','M6216','S3151')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B2','B6','B62','B653','C2','C5','J52','J525','L15','L52','M62','P62','R3','W425')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4236','A5356','A5361','E3631','J25','M2412','M2415','M6242','M6352','P3656','R1632','S2525','S3541','V2362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5362','C6231','C6235','D1343','D52','F6526','G6265','J2523','J5263','M245','M625','R2631','S1235','S3156')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5352','B1626','D5162','E4213','F6525','J5265','P436','R1632','R1636','R2631','R2635')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C6235','E4213','M6216','M6263')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','E6523','F6521','F6525','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C6235','E4213')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%it%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B2','D5','G6','J525','M2','M46','M625','R3')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%w41%'
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%j1%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%mar%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('F6362','F6525','J513','M6251','P3625','R1631','R1632','R1636','R2631','R2632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','E4213','F6362','F6525','J513','M6263','R1631','R1632','R2631','R2632','S2153')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','A5365','C6235','C6453','D1312','D1343','H5163','J212','J532','S3154')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5352','A5362','C6421','C6423','C6424','C6426','E6523','F6524','F6525','M6263','R1631','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%moli%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('E4213','M6216','M6263')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%such%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4215','C6232','C6261','C6416','C6452','D2313','D52','E5621','K1524','L25','L2516','N242','T5212','V5252')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%willi%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ve%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A4361','B4525','B6261','B6526','J5252','S3152','S4153')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B4525','B6261','D1232','H4236','J5252','O4252','P5235','R1632','R2632','S3152','W5165')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('M6263')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5352','A5362','C6421','C6424','C6425','F6524','F6525','R1631','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%vil%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%horst%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','C6425','F6521','F6525','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%de%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A525','A5363','C6235','C6525','D525','E4525','J5245','L252','M62','M6245','M6532','M6562','R5316','S652')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%lo%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','A5352','C6425','E6523','F6521','F6525','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ne%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%marl%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%pha%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%sta%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6543','B6535','G5362','G6535','J2346','J6525','L2416','M2563','M3262','R2616','R5432','S2153','V3656')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6563','C6425','D1316','F6523','J5252','M2416','M2425','R1635','R2631')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%f65%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4216','A4252','A5162','A5326','C3651','G1645','K3451','M6234','M6245','M6253','N2421','S2562','S5365','T5252')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%mil%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A6362','B6165','C6416','C6452','G6252','G6253','J2425','L2142','M2415','M6232','P3625','S3153')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4252','C6235','M6263')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('A5262','M5323','S4136')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B24','C62','D12','D4','J25','M324','S23','S415','S5','S53')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5362','B6535','C6231','E4213','F6521','F6525','K6235','R1631','R1632','R2632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A3414','C6426','R2636','S1524')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('A436','B2','B452','C16','C462','C65','H2','J52','L2','M5','R2','S23','W425')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','K3451','M6216','S3521')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','A5362','B6535','C6231','C6235','F6525','R1632','R2632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','A5364','B6514','D5236','F6521','H6252','J2524','J2532','J562','P3653','R2636','S524')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('P5235','P6252')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5352','B6161','C6231','C6235','E3632','G6252','J5216','J5235','M2425','R1632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%hay%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','C6421','C6423','C6424','C6425','C6426','F6525','J5265','R1631','R1636','R2631','R2632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%se%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5362','A6532','C6235','J1626','J2516','J516','J5252','M2452','M2525','M6232','R2625','R2631','R2632','T6162')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','C6424','E3241','E3632','F6526','G6252','J252','J5162','J524','M2423','M6252','M6352','R2636','V5253')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%t6%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf in ('T5212')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5354','J5','J524','J6241','L216','M2426','M2462','P3635','S3156','S562','T5216')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('C2','C5','H2','L2','L5','S5','S53')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','K6235')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%p64%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%s%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A5362','C6231','C6235','F6525','R1631','R1632','R2632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode in ('A365','C62','G62','L15','L25','M2','N242','P62','R2')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%vanna%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('E4213','F6362','J513','M6251','M6263','P3625','R1631','R1632','R1636','R2631','R2632','S2153')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A514','A5143','A5164','D5242','D5262','H4526','J5265','K6526','M6325','N2426','R2414','S1525','S2523','S6532')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','B6563','E3632','F6523','F6524','F6526','F6532','H6163','R1635','R1636','S2534','V4356')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ev%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','B6563','E3632','F6362','F6523','F6524','F6526','F6532','G6216','H6163','R1635','R1636','R2632','S2534','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B4532','G6325','H4525','J4524','J5326','L4525','M2413','M525','M6325','M6535','O4212','S4125','S5252')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5242','B1614','C6231','J2423','J5252','M2425','R1631','R1632','R2631','R2632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','C6421','C6425','C6426','F6524','F6525')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%k23%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','B6535','D5452','F6535','G6352','J5253','J5254','M2465','M6241','M6242')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%villar%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B5254','B6516','C5651','C6231','C6253','E4213','J1415','K6425','L216','M6232','M6243','P4265','S3151','T4626','T525','V5256')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%bil%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ch%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('A3654','B4353','B6156','D2362','D4626','F6532','L1561','L5326','M5323','R2461','S5236')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%m2%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B1626','E3241','F6525','P436','R2631','R2632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5362','C6423','C6424','E6523','F6521','F6524','F6525','R1631','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('F6362','J513','M6251','R1631','R1632','R1636','R2632','S2153')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%hel%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A2351','A4253','C6424','D2564','J216','J242','J2565','J5141','J5216','J6242','J6264','R2532','R5432')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6423','C6424','C6426','F6524','F6532','R1631','R2632','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%e1%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','C6416','C6452','D5162','E4213','J5215','M6216','M6263','R3565')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%alla%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ma%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A6362','B6563','F6362','F6524','F6526','F6532','G6216','H6163','R1635','R1636','R2632','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%krist%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ba%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%pa%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('G6325','H6432','J5235','K5252','P3616','P3632','R2634','S4136','S524','V5253')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%al%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','J5252','R1632','R2632','W4525')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf in ('A2365','B5242','D1614','E1524','L1214','L2','P3625','P5215','Q5325','R2425','R25','R3626','S3152','S5325','T5212')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A4254','J4524','J524','L52','M525','M5256','M6312','S1231','S163','S1652','S52')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%m4%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%a%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5352','D1316','F6521','J5236','J5252','M2425','P3625','R1631','S3151')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('C632','C64','F65','H43','H5','H625','L25','N2','O6','R16','S34','W425')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%j%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6364','B6252','E3634','G6216','J162','J5162','J5236','K6231','L6525','P3624','R1632','R52','T5242','V2362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('B6261','D1232','O4252','P5235','S3152','W5165')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','A6143','C52','G5242','L2352','L2654','M6352')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4236','A4253','A5361','B6165','F6524','J5163','J5214','M6216','S3541','V2362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','C6425','E4213','F6525','J5215','J5252','R1632','R2631','R2632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B6','B65','C5','D5','H2','H4','J52','J525','M62','S415','W42','W452')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%jim%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%wa%'
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%i52%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4152','B5251','C6231','C6235','C6435','D5425','F6525','J1626','J2532','J5452','M2452','S52','S5262','T525')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','B6535','C6231','C6235','F6525','R1632','R2632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','F6362','M6251','P3625','R1632','R2632','S2153')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5362','B6535','C6231','C6235','F6521','R1632','R2632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B5','B6','B62','B626','M2','M625','O425','P62','R3','S415','S53')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B1626','C6426','F6521','F6524','J52','J5265','J5425','R1631','R1635','R1636','R2632','R2635')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%h6%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','C6235','E4213','J5162','K6235')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B6261','D1232','H4236','O4252','P5235','P6252','R363','S3152','W5165')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C6235')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4152','A6362','B6514','D1324','J5241','K5252','L2142','M6352','P3656','W4125')

SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6235','M4145','P3625','R1635','R2631','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6543','B6352','D1315','D2564','D5456','E3634','L2165','L6524','M2463','R5262','T5232','T532')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ke%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B3625','B3626','B6164','D5251','J2612','J4524','J5262','M2424','P436','R53','S252','S5253')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A5242','A5362','C6452','K5164','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('D1232','H4236','O4252','P5235','R363','S3152','W5165')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('G5242','L2654','U1562')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('D1316','F6521','J5236','J5252','M2425','P3625','S3151')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B624','C45','C5','D5','J52','L','M25','M635','S53')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4236','A5356','D1324','G6253','J25','M4245','P3621','P3656','R1632','V2361','V2362','W4525')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf in ('A4253','A5362','C6231','C6235','M2425','S3152','S3162')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','C6231','E3241','P436','R1635','R2631','R2635')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%shei%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','B1614','C6231','J252','R1631','R1632','R2631','R2632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6521','B6563','G6435','J5162','J5216','R1636','R2635')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A5242','B6165','J3261','J5162','M6242','M6252','P3625','S2525','S3521')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6524','D1326','D5216','D5252','J5243','J5245','K5252','M2415','M6216','T5252')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B6342','C6252','F3264','H5362','J5252','J5256','M2354','M6256','P3625','S3152','S3652','S4153','W4525')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('D12','H2','L','L5','M2','S5','S53')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('E4213','F4652')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5363','I2141','I2142','K3452','K6525','M52','M624','M6456','M6516','P3623','P3626','R2426','S5362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','C6423','C6424','C6425','F6521','F6524','F6525','R1631')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A4361','B6526','L1525','M6256','P6252','R2632','S1452','S4153','T5212')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%har%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B42','B6','B62','C636','C64','H3','H65','S5','S52','W16','W3','W425')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf in ('A5362','K6235','M6263','R1632','R2632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5351','A5362','C6453','D1634','J253','J45','J5252','K6234','M6236','M6316','N2423','T5262')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%to%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%t4%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B6562','D1626','G5362','H5163','J1652','J2562','J5365','K1524','K3656','L2453','L6532','M525','M6453','S1526')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%min%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','B4525','B6245','D1232','M6352','O4252','R1632','R2632','R363','S3152','W5165')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%kin%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A3651','A4216','C6231','D5242','E3636','E6214','G4652','J5231','J6145','J6262','S524','S5265')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','C6231','F6525','J52','J5262','M2425','R1632','R2631','R2635')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5362','C6421','C6423','C6424','C6425','E6523','F6521','F6524','F6525','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A6525','C4326','D5242','J5236','L216','L4562','L6532','M3245','T5215')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('D5142','D52','E5252','J2152','J4524','K32','K452','L6526','M4252','M6215','M6325','M6515','N5252')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4152','D1324','D5432','G6252','J5163','J5245','M2424','M2453','P3635','P3652','S3153')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5362','B6535','C6231','F6521','F6525','R1632','R2632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('J52','J525','L2','L52','M2','W452')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('A625','B61','D2','G62','L532','M2','R2','R24','S52')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B624','C2','C6','M25','O425','S5','W3','W452','W5')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6524','D1352','G6252','J25','J5235','M2412','M2423','M2424','M6241','M6252','M6352','S3153','W4125','W4361','W4525')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','C6231','C6235','D1325','F6523','F6524','J5165','J5216','J5242','M2416','P3623','R1636','R2634','R2635','S2153')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','F6362','F6525','M6251','R1632','R1636','R2631')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%dou%'
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%h%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('A3654','B4353','B6156','C6264','D4253','D4262','L2562','L5326','M5323','R2461','S4362','S5236','S5245')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','B6262','G6262','H5362','H5435','M2354','M6253','R1632','R5432','W4526')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B626','B65','C2','C45','D12','D5','H4','L','L52','M635','S415','S5','S53','W5')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5352','B6161','B6563','D1316','F6521','F6523','J3261','J525','J5262','P3616','R3565')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C4162','D6235','F6323','F6352','G6254','K5452','L2526','M612','M6352','R3261','T526')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4252','A5364','G5362','G6265','G6356','J5251','M6246','P3625','T5252','V5253')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%s43%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%wal%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('F652')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','C6545')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','C6424','D5142','D5262','G1643','J5235','J5241','J5326','J6362','K3656','M2413','M3452','M6256','M6326','S2523')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','B6162','C6235','C6452','D5162','J5215','M6263','R3565')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5351','A5354','C6416','C6432','F6325','I5263','J5325','J62','M6243','O4162','R2635','S3162')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A5356','D5426','J2512','J5236','L24','M6265','N2421','R25','S3152','S5262','V2362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A6362','B6563','C6426','E4213','F6362','F6523','F6524','F6526','G6216','R2632','S2534','V4356')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5351','A5352','C6231','C6421','J5253','M2426','P3616','R1632','R1634','S3152','V4356')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A5352','D1316','F6521','M2425','P3625','R1631','S3151')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('C5','M2','M635','O425','S35','S53','T46','W42','W5')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6421','C6423','C6424','F6524','F6532','R1631','R2632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5165','A5316','B6532','J2563','J5234','M6232','M6236','M6353','N2421','R3261','S3151','V5253')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%win%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%nor%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ram%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ett%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%tia%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('D5415','D5434','G2316','H5265','J4525','L2524','M2526','M5252','M6231','N6163','P4524','S6256','T6523','W4523')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5362','A6521','B1626','D1324','D1326','F6526','J5212','K6235','P3616','P3624','R2634','S3151')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%j45%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('L2352','S1452')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%raffe%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%cha%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5136','A5235','C6426','D252','G4652','J2124','J5153','M25','M26','M5412','P435','R2635','S3153')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode in ('A365','G62','L15','P62','R2','R24','S43')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4152','E3631','J5214','J5236','J5241','P3652','P3656','S3541','T5252','V2361')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%f52%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%p25%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%d%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C6235','C6416','D5162','E4213','J5215','M6263')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B62','B65','H4','J52','L','M6','S53')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('B6532','B6535','C6252','D5252','J5252','L5352','M6253','P6252','S5325','W4252','W4262','W4523','W4526')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A5362','C6421','C6423','C6424','E6523','F6521','F6524','F6525','R1631','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%m41%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4262','C6232','C6521','E4516','I6526','J5265','J5616','L2425','M4532','M6234','S4125','S5162')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('D1352','F6524','G6352','J5163','J5235','M2453','M6352','S3153','W4125','W4516')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ale%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5361','D52','D5432','F6521','F6535','J2165','J6241','M2412','M2425','M2435','M2452','M62','M6216','S3162','S5362')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%fran%'
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%p54%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A3562','B6534','C6241','C6435','E3634','H5252','J5236','J5426','L2125','L2142','L6521','M3265','O4165','T5212','T5256')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B6526','D1232','H4236','P5235','P6252','R2632','R363','W5165')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','F6523','F6524','F6532','G6216','H6163','R2632','S2534','V4356','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B2','B4','B6','D12','D25','J52','L','L52','M2','R2','R3','R5')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%bamb%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%dr%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%frie%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%mon%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','C6231','C6421','F6523','F6525','J5265','R1631','R1635','R2631','R2632','R2635','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5365','C6421','D542','F6362','J2452','J5163','M2416','M2426','M6253','R54','S3153')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C642','D1324','D5415','E5621','G1641','G6235','G625','H2525','J2354','P4262','S5452','T3525','T5232')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','B6535','C6231','F6525','R1632','R2632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B6','B62','H2','L2','S5','S53','W42','W452')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A4361','B6526','M6256','M6352','P6252','R1525','R2632','S3152','S4153','S5362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','D1315','E3632','G6242','G6265','J2125','J2134','J513','J5353','M2413','M6215','M6246','P4216','S1524','S3151')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf in ('A4253','A5362','C6231','C6235','C6424','G6212','M5456','R2632','S3152','S3162','W5245')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4216','C6231','C6241','D252','D5262','D5435','D5463','G6535','H6323','J2142','J2452','M3265','T5212')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%r2%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','B4525','D1232','J5252','O4252','R1632','R363')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A5352','C6231','F6521','F6525','J252','J5162','J5216','J5235','J5252','M2416','R2631','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B2','B4','C2','C5','D12','G6','H63','K5','L5','W42','W452')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B2','B452','C2','C5','D12','H2','R5','S35','T46','W3','W42')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B624','C5','G6','J52','L2','L5','M62','W3')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%jos%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5141','A5253','A5363','A5365','B1626','B6523','C6235','G1642','G6256','J5214','J526','L6524','S525','W4125')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6421','C6423','C6424','C6426','F6524','R2632','V4356','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%w%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%g4%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5352','B6563','F6523','F6524','J5216','J525','J5262','W4362')

SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','B6245','B6261','B6526','D1232','J5252','M6352','O4252','P6252','R2632','R363','S3152','S5362','W5165')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6421','C6423','C6424','C6426','F6524','R1631','R2632','V4356','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%we%'
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%a4%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','C6235','F6521','R1631','R1632','R2632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A2352','A6543','B5252','C6253','D1325','J256','J5','J5232','J563','M5425','P3615','R54','T5214','T525')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%brian%'
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%l15%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf in ('B4353','B6156','D4262','D4626','L1561','L5326','R2461','S4362','S5236','S5245')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6514','D1352','E3631','G6262','J5236','J5261','J5263','L2142','M4245','M6352','S3521','W4361','W4525')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4252')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%a54%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B42','B6','B62','B65','H2','L','L2','L5','S53','W3')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('E4213','M6263')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','B6261','D1232','M6352','O4252','R1632','S3152','S5362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4212','A6523','D5414','D5415','F6526','G6253','H2365','H4516','J5236','P452')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B42','B65','F652','H2','H4','J52','L2','L5','R2','S53','W3','W42')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','D5262','J23','J5235','J5241','J5362','J565','J6362','M5456','M6235','M6416','M6563','S2521','S2523')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A5352','A5362','C6423','C6424','C6425','E6523','F6524','F6525','R1631','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B5','B6','B65','C5','M2','M46','N425','O425','W3')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5362','J2452','J5162','M2345','M252','M6453','R2562','S26','S3151','S3152','T5252','T6252')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6326','D5362','F6523','F6525','F6532','H5252','H5625','J5242','J5251','J6241','M6351','T525','T5263')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%brig%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4256','A5232','B4532','C6541','D1614','E4516','K452','M5236','M6415','M6514','M6545','O4212','R3565','V4535')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A6521','B6563','C6235','F6525','G6435','J5162','J5216','M4532','R1636','R215','R252','R2635')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%bra%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','C6235','D5216','E3241','G6252','J5162','P3625','R1632','S3152','S3521')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5352','A5362','C6423','C6424','C6425','E6523','F6521','F6524','F6525')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B65','C2','C5','G62','H4','M2','M6','R5','T46')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','E4213','F6362','F6525','J513','M6251','M6263','P3625','R1631','R1632','R1636','R2631')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ber%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','B6162','C6416','C6452','D5162','E4213','J5215','M6263','R3565')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('M6352','R1632','S1452')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B42','B62','F652','H2','H4','J52','L','M6','R2','S53')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','C6235','C6425','C6426','F6524','J5265','M6216','R1635','R1636','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%k5%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5263','A5316','A5352','A5362','B6161','B6232','C6451','J5164','M5326','M623','M6253','M6316')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('B6261','D1232','J5256','O4252','R363','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%g35%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A4361','A5362','B6261','R363','S4153')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5242','B4325','C6235','C6545','G6431','J252','K3652','M2346','M6216','R1624','R1634','R2632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','D5216','D5432','E3631','F6524','G6253','J5163','J5214','L2142','P3652','V2361')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6216','B6341','C6424','E3635','F4241','J253','J5232','J5261','J5351','K52','L216','R2634','R5352','S5362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6424','C6426','F6524','F6532','R2632','V4356')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%k61%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A5242','B6165','J3261','J5162','M6232','M6242','M6252','P3625','S2525','S3521')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','B6563','D1316','F6521','F6523','F6524','J5216','J5262','P3616')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A6362','B6563','E3632','F6362','F6523','F6524','G6216','H6163','R1635','R2632','S2534','V4356','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5361','G6253','J5162','J5264','M2414','M242','M2423','M4245','M6352','P3614','P3652','R1632','V2362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A6362','B6563','C6426','E4213','F4652','F6362','F6523','F6526','F6532','G6216','H6163','R2632','S2534','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('H4','J525','M2','M6','N425','T521','W452')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%russ%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('B6261','M6256','M6352','P6252','R1632','R2632','S4153','S5362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6325','B6525','D5236','E3631','F6525','J2165','J5245','K1515','M6265','M6356','O4162')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','B6162','C6235','C6416','E4213','M6263','R3565')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4236','A5356','B6514','D5252','J2425','J5235','J5243','K5252','M242','M6216','M6245','P3614','P3656','S3521')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5242','A5352','F6521','F6525','J5236','J5252','M2425','R1631','S3151')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%hann%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','B6165','J3261','K6235','M6232','M6242','M6252','S2525')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6421','C6423','C6424','C6426','F6524','F6532','R1631','R2632','V4356')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5246','A5264','C4352','E4516','F6526','H4523','H4563','J5241','J5263','K6232','M6264','N2432','S2542','V4535')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6162','C6235','C6416','C6452','E4213','R3565')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5365','C6462','J2363','J2532','J45','K1525','L6525','P3652','R2634','R3412','S5362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B6','G6','H62','L','L2','L52','O425','S415','T52')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ambr%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5352','F6525','M6263','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode in ('B624','B65','J52','J525','R2')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4524','A5352','C6235','F6536','G6316','J2565','J515','J5216','M2423','R1425','R3261','R5262','S5242','W4523')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%fr%'
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%e35%'
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode in ('B624','B65','J525','R2','S53')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B4525','B6261','D1232','H4236','J5252','P5235','P6252','R1632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','D5162','F6524','F6525','J5215','P436','R1635','R2632','R2635','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5242','A5363','J5162','J5245','K6235','L5632','M4245','M6352','N5253','R5636')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%joe%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5242','A5352','D1316','F6521','F6525','J5236','R1631','S3151')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%sha%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ven%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5164','B3625','B6352','C6232','C6436','D5241','F4126','F6536','G6342','L2524','M232','P4526','R5431','S5265','T5236')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','E4213','F6525','J513','M6251','M6263','P3625','R1631','R2631')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5362','E6523','F6525','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('B6245','H4236')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4251','A525','A5361','J2452','K3652','K6234','M6236','P3621','R2325','S4123','S5362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B452','B635','B653','C42','C52','C63','G52','K5','K62','L6','M52','O2','R25')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%man%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ko%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B2','B65','C','K52','L235','R2')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('B6245','B6261','D1232','H4236','J5252','M6352','O4252','P5235','P6252','R1632','R363','S3152','S5362','W5165')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','J3261','R3565')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('G65','H63','L','M25','M6','R3','W42','W452')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('D5162','J5215','K6235','M6263')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B6','B62','C5','H2','H4','J52','L','M6','R2','S5')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('D1352','H6252','J2142','J524','J5256','J535','M2545','M6234','M6245','P3616','P3635','T52')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf in ('A4253','A5362','A6532','C6231','C6235','J6362','R1634','R516','R5316','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4256','A5136','C6423','C6521','D1262','E4516','L242','L2524','L652','M5216','M6541','R2416','S2512')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B65','C5','H4','J525','M62','M635','N425','R2','S53','T46')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','B6535','C6235','K6235','R1632','R2632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ban%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','B6535','C6231','C6235','F6521','F6525','R1631','R1632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','C6231','C6235','C6421','F6525','J5215','J5216','J5425','M4145','R1632','R1634')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%rob%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%s31%'
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%g%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%nic%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%k6%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5362','B6535','C6421','C6424','D1325','E4213','J5216','J5242','K5263','M2416','M2453','M4145','R1632','R1634','S3151')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('A45','B42','B6','B63','D12','D5','H62','R','R5','S23')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%bran%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf in ('A1431','A5242','J242','J5245','J5352','K5315','M6153','M6323','N5253','R5414','R5636','S5152','Z3625')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%th%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('H4236','P5235','P6252')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5365','B1626','B5252','B6526','D1324','E6252','F4241','G6261','G6265','J5235','J5241','M2415','M2424','S3152','S3156')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','E4213','K6235')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%val%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%s4%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%sto%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%laur%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B65','L2','M6','R2','S5','T521','W3')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B65','D12','F652','K52','L2','L5','M635','R2','S23')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('P5235')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%rich%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B4525','B6261','D1232','P5235','R1632','R363','S3152','W5165')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5242','A5361','A6361','B6514','B6524','C6452','F6521','J2425','J5163','J5214','M6252','P3625','T5252','W4125','W4361')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B65','F652','G6','H4','J52','L','M6','M62','R2','S53')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf in ('A5362','A6532','C5321','C6231','C6235','R5316')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('D1313','D5431','D5456','G4163','H526','L6523','P1426','R2532','S2153','S3163','S5242')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%m%'
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%e62%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%thomas%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C6231','C6235','C6451','L6525','M5456','M6324','P3621','R2325','S2524','S652')

SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%cree%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5351','C6235','C6421','C6425','F6362','F6521','J5216','J525','P3623','R1632','R1636','V4356','V5253')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C3656','C6416','C6453','C6454','G1642','J5245','M6532','M6536','R2425','S2525','S2526','T6253')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B4','C2','C5','G6','J525','L','P62','S23','S5','T521')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','C6425','E3241','F6524','J5252','J5265','M2416','P3625','R1635','R2635','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B4','B62','B626','B63','C2','C52','F652','J52','L2','M46','M62','R2','R24')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','B1614','B1626','C6231','C6424','D1325','F6524','H526','J252','J5162','J525','J5252','P3625','R1634')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%t12%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%rache%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4236','D5234','G6256','J1626','J2165','J23','M2463','M6232','M6261','M6262','O4161','T6235')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','B6535','C6235','C6424','C6426','G6216','G6252','J5162','J525','J5253','M4145','P3624','R2634','W4525')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B634','D12','D5','F65','H62','J525','M45','P62','R2','R3','T46','T521','W425')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf in ('A4163','C6231','C6426','J5362','M2425','R1632','R2632','S3152','W5245')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','B1642','C6452','J2452','J5165','K3451','L5326','M4532','P3621')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','E3632','F6362','F6523','F6524','F6526','G6216','H6163','R1635','R1636','S2534')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf in ('A5362','F3264','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5362','F6521','G6232','H5625','J1625','J2125','J5212','M6353','R2631','S1526','T5263','V2363')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B42','F652','H4','J52','R2')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf in ('B4353','B6156','C6264','D4253','D4262','L1561','L2562','L5326','S4362','S5236')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A426','B62','C425','D5412','D6251','E2526','G6354','H424','H6156','J5214','K6235','L2426','N3141','O3165','R2145','V4321','V652')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B5','B626','C5','D4','H2','K5','L','L2','M2','M62','P62','S415','S5','W42')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6524','D1324','G6252','G6352','J5163','M2414','M2423','M2453','P3656','S3541','T5252')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','B1626','C6421','F6523','F6524','F6525','J5252','M6216','R1632','R2631','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%j6%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B2','B626','C16','C64','F652','G62','H2','H3','J25','L6','M5','M62','O165','S52')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','B6161','B6563','F6521','F6523','F6524','J3261','J5216','J5262','P3616','R1635','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','D5234','H526','H626','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','C6425','E6523','F6521','F6525','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ken%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A6362','E3632','F4652','F6362','F6523','F6526','F6532','G6216','H6163','R1635','R1636','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode in ('A236','A645','C36','D16','F652','L5','M2','M342','M54','N1','N16','R242','S2','V462')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A5352','A5362','C6231','C6235','F6525','R1631','R1632','R2632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B62','B63','C65','D2','E152','J525','L15','M2','M62','S')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%k34%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('A5362','H4236')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4215','B6232','C6542','D5423','G5362','G6435','J6525','L6521','M5416','N3425','W4562')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4252','C6235','J5162','K3451','M6263','S3521')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','E4213','F6362','F6525','M6263','R1631','R1632','R1636','R2631','R2632','S2153')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','B6563','D1316','F6521','F6523','F6524','J3261','J5216','J525','J5262','P3616','R1635','R3565','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B62','C2','H2','J525','M46','M6','M62','S5','S53','W3')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','B6161','B6563','D1316','F6521','F6523','F6524','J3261','J5216','J525','J5262','P3616','R1635','R3565','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B5','B65','H2','K4','M25','M635','O425','R3','S23','S53','T52','W452')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5242','A5361','D1324','G6262','J5163','J5264','K5252','K6235','M2415','M2453','M6352','S3151','S3153','V2361')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B2','B4','B6','B63','C2','C5','G6','J525','L','M62','P62','R3','S23')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5362','B6535','C6235','C6421','C6423','C6424','D1326','G6216','G6252','J5162','M4145','P3623','R1634','R2636','W4516')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ti%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5356','E3631','G6253','G6262','M6126','M6241','M6252','P3625','S2525','S3541','V2362','W4525')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4152','A4236','A6362','B6514','E3631','J25','M2414','M2424','M6242','M6245','M6252','P3614','V2362','W4361')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%jo%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('A45','B42','B452','C462','H62','H65','M5','P6','S23','S363','Y52')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','C6235','R1632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5351','A5352','E4213','F6525','H6163','M2416','R1632','V4356','V5253','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode in ('A645','B4','B5','C36','D12','G62','K52','L15','M252','N16','R362','S5')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%cola%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%s%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%k56%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('D5162','J5215')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','E6523','F6521','F6525','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5365','C6262','D1326','J2124','J2156','J5242','J545','M6126','M6253','M6354','N2423','P4126','R5252','S3154','W4125')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('B6526','M6256','R1525','R2632','S4153','S5362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4216','B6161','C3656','E2364','F6523','I2143','K3452','K3651','M52','M6253','M6352','M6532','S1524','S3151')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','C6426','D1316','D5216','G6216','G6252','J525','M6263','P3616','P3624','P436','W4525')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%rie%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','R1631','R2631','R2632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%mari%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5242','A5352','D1316','F6525','J5252','M2425','P3625','R1631','S3151')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%hassa%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%d%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B635','C45','G6','H52','J525','K5','K52','L','L52','M24','M5','M62','M635')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%k3%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4252','B6161','B6162','J5162','K3451','K3652','L5326')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B42','B624','H2','J52','L2','M6','R2','S53')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5352','B1626','B6563','C6231','C6235','J513','J5241','J5252','M2452','R3565')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B4','B5','B65','C5','H4','K5','M25','M6','M625','M635','O425','S5','S53')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','D5252','G6252','G6352','J25','M242','M4245','M6216','P3614','P3635','S3541','T5252')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%bori%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B4','B6','C462','D12','D25','G65','H65','J525','K5','P6','P62','R3','S5')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B62','G635','K4','L52','R3','S415','S5','W3')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%jan%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%co%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','B6535','C6231','C6235','F6525','R1632','R2632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','D1326','E3632','G6253','J5162','J524','M2423','M2452','S3152','W4516')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%an%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ang%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%gha%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B4','B62','D5','G6','J52','J525','L15','L52','P62','R3','S5','T521','W425')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','C6424','C6425','E6523','F6521','F6525','M6263','R1631')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%l2%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%b4%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf in ('A4253','C6231','C6235','C6424','M2425','M5456','R2632','S3162')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4525','F6362','G6216','J5215','J5253','M2435','M6234','P3656','T525','T5265')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A4361','A5362','B6261','J5252','J5256','M6256','M6352','O4252','P6252','R2632','S3652','T5125')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B2','B4','B42','B62','C2','G6','J525','L','L2','L5','S53','W3')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6563','D1316','F6523','J5252','P3625','R1635','R2631','S3151','W4125')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','B6161','C6423','C6424','E3241','F6525','G6252','J52','J5265','K3451','M2425','M6263','P436','R1634','W4516')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B6','B62','C','C5','D25','F652','J52','L2','M25','M62','M635','R2','T52','W452')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5362','E6523','F6521','F6525','M6263','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5352','A5362','F6521','F6525','M6263','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%kim%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5625','B6162','C6215','C6231','D5256','J2124','J2353','J5216','K3652','P425','S5326')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','E6523','F6521','F6525','M6263')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','B6514','G6256','J25','J5243','J5263','M2453','M4245','M6241','S3151','S3153','T5252')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%lov%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5236','A5352','B6163','C6235','C6456','H4521','J5245','S1524','S2516','S5362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','B6261','D1232','O4252','R363','W5165')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%c61%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B1626','C6231','C6424','E3241','J5216','J5235','J525','J5253','K6235','P3625','R1632','W4516')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%da%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B4521','C435','C6245','D5241','D535','E5161','E5165','H32','I6515','K2526','K3161','K6515','L6263','L6414','L6541','M6236','P5414','S3625','S4521','T261','V1524')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('E3632','F6362','F6523','F6524','F6526','F6532','G6216','H6163','R1636','R2632','S2534','V4356','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%c64%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%cam%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%gal%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%h6%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','C6425','E6523','F6525','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','D5162','K6235')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%jul%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%s25%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','A5352','C6423','C6426','E3632','E6523','F6523','F6526','G6216','J5216','J5242','P3624','R1636','R2634')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5362','C6421','C6423','C6424','E6523','F6525','R1631','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%cu%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%fer%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','A5362','C6452','K3652','K5164','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%d42%'
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode in ('B62','B65','J525','R2','S53')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf in ('A4163','A4253','A5362','A6532','C5321','C6231','C6235','R516','R5316','S3152','S3521')

SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5362','C6421','C6423','C6424','E6523','F6524','F6525')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A2365','A6252','C52','D1614','E1524','E2163','L1214','L2','P5215','Q5325','R2425','S1452','T5212','V4524','V4626')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%e25%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%wi%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf in ('A2365','A6252','D1614','E1524','L1214','L2','M3425','M6352','P5215','Q5325','R2425','R3626','S5325','V4626')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','F6362','J513','M6251','M6263','P3625','R1631','R1632','R1636','R2631','R2632','S2153')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%kar%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('A45','B65','C4','C65','F652','G6','H52','J52','L2','L5','L52','M24','P6','W3')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','B6165','J3261','J5162','M6232','P3625','S3521')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5352','A5362','B6563','D5162','F6362','H6163','J52','J5215','J5242','J5262','R1632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode in ('B4','B6','B624','C5','D12','D5','G65','K5','L','L2','L52','M2','W3')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('E4213','K6235')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A6362','B6563','E3632','F6362','F6524','F6526','F6532','H6163','R1635','R1636','R2632','S2534','V4356','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','C6421','C6423','C6424','E6523','F6521','F6524','F6525','M6263','R1631')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%lou%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%riz%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A3516','A3524','A4524','G4526','G5435','H6232','J2121','J5153','J5416','M24','M5416','M6254','M6261','T526')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','J5245','J5342','K6235','M4532','M6263','R215','R5414','S5152','Z3625')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%c%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%mc%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf in ('C6235','D5216','E6252','J2165','K3145','K3652','L365','M6216','R1624','R5345')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5242','A5352','B6563','D1316','F6523','J5236','M2416','M2425','P3625','R1631','R1635','S3151','W4125')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6425','F6525','G6252','J5252','J5265','R1632','R1635','R1636','R2635')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6525','G6325','J2123','K1526','K5235','L216','M6126','P362','S2153','S4136')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('C2345')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%john%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','C6425','E3241','F6524','H626','J52','J5252','J5265','R1635')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5356','B6563','D1316','F6523','J5236','J5252','P3625','R1635','R2631','S3151','W4125')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','C6231','F6525','F6532','G6214','G6352','H5625','J2516','J5215','J5243','M2453','P3614','S3153','S3154','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('F6521','J513','J5215','J5242','M6251','P3623','R1634','R2631','R2634','R2635','V4356')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','B6161','B6563','D1316','F6521','F6523','F6524','J3261','J5216','J5262','P3616','R1635','R3565','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%k54%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('B4525','B6261','D1232','H4236','O4252','P6252','R363','S3152','W5165')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%g25%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('C45','C5','D4','G65','H2','H4','H63','K5','L','P4','T46','W42','W5')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5352','A5362','F6521','F6523','J525','J5252','J5262','M2426','R1631','R1632','R2636','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A6362','E4213','F4652','F6362','F6523','F6524','F6526','G6216','R1636','S2534','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A4361','B6535','C6325','G6262','M6256','P3625','P6252','R1525','R2632','S1452','S4153','T5212','W4525')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','E4213','K3451')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','B6261','B6526','D1232','J5252','M6352','O4252','R1632','R363','S3152','S5362','W5165')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','F6525','M6251','P3625','R1631','R1632','R1636','R2632')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf in ('A4253','A5361','C6231','C6235','G6212','S3162','W5245')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%anita%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B2','C2','C45','C5','D5','M2','M25','M625','O425','P62')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf in ('A3654','B4353','B6156','C6264','D4253','D4262','D4626','F6532','L1561','L5326','N2426','R2461','S5236')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5356','D1316','F6523','J5236','J5252','P3625','R1635','R2631','W4125')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%b%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','C6416','C6452','D5162','E4213','M6263','R3565')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','D5162','E4213','J5162','J5215','K6235')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6421','C6424','C6425','C6426','F6524','F6532','R1631','R2632','V4356')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%kr%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A1654','A2362','A4252','A5263','B6462','D235','D5464','E6246','H2425','J2432','K6523','K6532','L16','L5342','M415','N5236','P4125','P6545','S35','S6235','W53','Z4261')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%e54%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5352','A5362','C6421','C6423','C6424','E6523','F6521','F6524','F6525','R1631','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5362','B6535','C6231','C6235','E4213','K6235','R1632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','C6231','C6424','C6425','F6521','H6163','J5165','J5235','J5253','J5262','J5425','R1636')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%g4%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5361','D5252','J2425','J5235','K5252','M2453','M6126','M6245','P3621','S3151','W4125','W4516')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B4525','B6261','D1232','O4252','P5235','R363','S3152','W5165')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','C6231','C6421','C6423','C6425','F6521','F6524','F6525','R1631','R1632','R2632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B4','B6','C5','D12','G65','J52','M2','M25','R2','S5','T46','W3')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%y2%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5242','B6563','D1316','J5252','M2416','M2425','P3625','R1631','R1635','W4125')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('L','R2','S53')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('B6525','B6526','C6325','J5256','M6256','P3625','P6252','R1525','R2632','S1452','S4153','W4525')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%amal%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('A436','B26','B626','C63','D52','F6','M5','M62','P4','W256','W426')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','B4525','B6245','O4252','R363','S3152','W5165')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A4361','A5362','B6525','B6526','C6325','G6262','J5256','M6256','P3625','P6252','R1525','R2632','S4153','W4525')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','B6535','C6231','C6235','F6521','F6525','K6235','R2632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A4361','B6261','D1232','J5256','M2354','M6256','M6352','R1525','R2632','S3152','S5362','W4525','W5165')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B25','D1','H3','L235','L6','M45','M63','O165','O6','R2','S2','W256','W5')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%que%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%sy%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5162','A5165','A525','C5321','L5324','M6214','M6265','M6342','M6352','N2416','P3625','S4123')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A2425','D1626','D5262','G6435','J5241','J5616','L2524','M6165','M6365','N2432','S1525','S6532','V6412','V6525')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B6','C','D25','J52','L2','L235','M35','S532')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%yl%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B2','B5','B626','C45','H4','J52','L52','M2','O425','S5','T46','W3','W42')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%g24%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%hu%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','B6165','J3261','J5162','M6232','M6242','M6252','P3625')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','B1626','C6426','D1326','F6523','G6252','J5236','J525','L5326','P436','R2634','V5253')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','B6162','C6235','C6416','C6452','E4213','J5215','M6263')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%n52%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','B1626','C6231','C6421','C6425','E4213','F6521','J5425','R1631','R1635','R2631','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C6235','D5162','M6216','M6263')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','B6535','C6231','F6525','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%richard%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6514','D1352','J5163','J5245','M2423','M6126','M6241','M6245','M6252','P3614','V2361','W4125','W4525')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','F6525','M6251','P3625','R1631','R1632','R2631','R2632','S2153')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A5354','C3654','C6231','G6252','J2152','J23','M2426','M6215','M6312','M6542','R2414','S1652','W5245')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%danie%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%will%'
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode in ('B65','J52','J525','R2','S53')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%fra%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','C6235','E4213','F6521','I6532','M6153','M6323','R215','R5636','S3521','Z3625')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5242','A5352','D1316','F6521','F6525','J5252','M2425','P3625','R1631','S3151')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%coppol%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','B1614','C6231','J252','J5252','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','B6563','C6426','E3632','F6362','F6526','F6532','G6216','H6163','R1635','R2632','S2534','V4356','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('C62','D16','H2','J52','L25','L5','L52','M62','S')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%m65%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B62','B65','H4','J52','L2','S53','W3')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%t45%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','C6416','D2313','F6325','G6524','H6232','J236','J2516','J5152','J5352','M2461','P412','S2325','T2563','T5325')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A4361','A5362','B6525','B6526','M6256','P3625','P6252','R1525','R2632','S4153','W4525')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A5363','I2145','J2452','J3261','L5324','M6214','M6524','R2562','V6252')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%om%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%pet%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('A3654','B4353','C6264','D2362','D4262','F6532','L1561','M5323','N2426','R2461','S4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','B6563','D1316','F6521','F6523','F6524','J5216','J5262','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%petr%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A52','A5243','A532','C4316','C6456','D525','G1642','M2345','M6165','M6456','M6562')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','J5162','K3451','K6235')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','K3451','M6216')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%m3%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','B6563','D1316','F6521','F6523','J5216','J525','P3616','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','B6323','C6231','C6412','F6523','L2453','L4525','L4562','L5325','M2','M4252','N3426','S2353','V6525','W5245')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5352','C6425','E3632','F6524','J5215','J5252','M2425','M2426','P3625','R2632','R2636','V5253')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('C4','C62','C632','D5','F6','F63','G63','H2','L5','M245','S','S6')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','C6425','D5162','E4213','F6524','F6525','R1632','R2632')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode in ('B62','B65','L15','S53','T521')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4542','B421','C4624','D5251','E5626','G1641','H4523','J2121','L652','N2425','N5252','T5251')

SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A2351','A5264','C6235','D1325','E4532','G5362','G6351','H5215','J2352','J2612','J56','M6325','M6542','O4212','S6253')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ha%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%hard%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%sa%'
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode in ('B624','D25','J525','L','L2','L52','L532','P62','R2','R52')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A353','A3562','D5463','E6214','G5362','G624','H6252','J6251','L5631','P3653','R252','S6216','T5256')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5242','A5352','D1316','E4213','F6521','J5252','M2425','P3625','S3151')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ger%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%bri%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B6','B626','C2','C45','J52','M2','M25','M6','O425','S23','S415')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5242','A5352','D1316','F6525','J5236','M2425','P3625','R1631','S3151')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A6362','B1626','C6216','C6452','D1326','J2452','J2516','J5163','J5165','J5241','J5263','L5326','P3621','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%en%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','B6162','C6235','C6416','D5162','M6216','M6263','R3565')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%knig%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B6525','B6526','G6262','J5256','M6256','P3625','R1525','R2632','S1452','S4153','W4525')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%w4%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B5','B65','D4','H25','H63','J52','K5','M46','M62','O425','R2','S35')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B62','B65','H4','J52','L','M6','R2')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5362','C6231','C6235','E4213','F6521','F6525','K6235','R2632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%mark%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%eve%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5143','C5652','C6235','C6241','F6524','G6524','H4516','J534','J6524','L2125','R5236','T54')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%gri%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4523','J2165','J252','J5252','K3652','M6215','R1632','R1634','R5345')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A2425','A2525','A4256','C3452','C4326','L242','M625','M6365','N52','S1526','S2521','S2542')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B624','B65','H4','J52','R2')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B65','F652','H4','L','L2','R2')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf in ('C6231','C6235','J5162','K6235','M6216','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A5242','B6165','J3261','J5162','M6232','M6242','M6252')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B26','B5','B63','C5','C62','G635','H62','L','P62','S23')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%car%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','C6424','C6425','C6426','F6524','F6525')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','C6425','E6523','F6521','F6525','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode in ('B65','R2')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5356','B6563','F6523','J5236','J5252','M2416','M2425','P3625','R1635','R2631','S3151','W4125')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A5242','J3261','J5162','K6235','M6232','M6252','S2525','S3521')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C6423','J2525','J4524','J5241','L216','L242','L2516','L4562','M6541','P15')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A2351','B6512','B6534','D5162','E6236','I2315','L6521','M24','P4252','R1632','S2325')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%h%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%menez%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ros%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A4361','B6525','C6325','G6262','J5256','P3625','P6252','R2632','S1452','S4153','T5212','W4525')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5352','A5362','B1626','B6563','C6231','C6425','C6426','D1316','D1325','E6523','F6524','J5262','M2452','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5362','D132','D1325','G6261','J5162','J5245','J5354','M2416','M2425','M6265','S3125')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','C6416','C6452','D5162','J5215','M6216','M6263','R3565')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6425','F6525','R1631','R1632','R2631','R2632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6421','C6423','C6424','C6426','F6524','F6532','R1631','R2632','V4356','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%t52%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf in ('C6235','M6216')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B1626','C6425','E3241','E4213','F6524','P3625','R2635')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5162','A5362','D132','H5163','J2642','J5253','J5352','N2421','P4125')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf like '%a15%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5352','B6161','B6563','D1316','F6523','F6524','J3261','J5216','J525','J5262','P3616','R1635','R3565','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','E4213','F6521','J5216','J5235','J5252','J5253','R1631','R1632','R1635','R2631','R2632','R2635','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','B4525','B6245','B6261','D1232','J5252','O4252','R1632','S3152','W5165')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('D2313','E3261','G625','J5141','K1524','L2125','M2563','M265','M3215','P3625','S5326','S6256','T5252')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%bur%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B3626','D2425','D6235','H4563','J5236','K6426','M6264','M6542','P1426','S1525','T526')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ro%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','C6432','D1352','J2425','J2526','J5234','J5625','M2453','M2525','M6263')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A2365','A6252','C52','C6325','E1524','J5252','P6235','Q5325','R1632','R2425','R25','R3626','V4524','V4626')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A4361','B6261','B6526','S1452','S3152','S4153','S5362','T5212')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%sore%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6423','C6426','F6524','F6532','R1631','V4356','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%le%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B6245','B6261','H4236','P5235','P6252','R363','W5165')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('A436','B635','C16','C45','C65','F63','F652','G6','K4','K52','M324','P4','P6','W425')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4524','E3632','G1641','G6212','J236','J265','J5213','J5215','J5254','J5635','M6265','N2421','N2423','P3632','W4524')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5352','B6563','D1316','J5252','P3625','R1631','R1635','R2631','S3151','W4125')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6423','C6424','E3632','E6523','J513','M2425','M2426','M2452','P3616','R1634')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%f2%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ben%'
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%y%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%nico%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B6245','B6261','D1232','H4236','J5252','M6352','O4252','P5235','P6252','R1632','R363','S3152','S5362','W5165')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%tom%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4152','A5361','B6514','F6532','J25','J5241','L2142','M2423','M6245','M6354','W4525')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ren%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5362','B6535','C6231','C6235','K6235','R1632','R2632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4252','B6162','C6235','J5162','K3451','L5326','M6216','S3521')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('A436','B2','B26','C45','D5','G65','M25','M46','P62','R2','S415')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%pe%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ir%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A4361','B6525','B6526','J5252','M2354','M6262','S3152','T5125')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','B6535','C6231','C6235','E4213','F6521','F6525','K6235','R2632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5353','A6361','B6516','B6563','D542','G6252','J2165','J2416','J5262','J5263','J5353','P362','P3621','R52','S3126')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ver%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('C636','H62','K4','K5','L535','M42','M624','N25','R32','T26','V2')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%albe%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_cf in ('A5362','A6143','L2352','M6352')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%po%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B6261','D1232','H4236','J5252','M6352','R1632','R363','W5165')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('P6252')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B6','B626','C45','G62','H4','H62','J52','J525','K4','R24','R5','W5')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5145','A5236','A5325','C6454','D525','J5161','L6325','M6324','M6453','P3624','S2516','S5365','T6252','V53','V6521')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','K3451','M6263')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('J5235','J5253','J5262','K5263','R2631')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','B6535','C6231','C6421','C6426','J5252','J5262','K6235','M2425','M4145','M6263','R1634','R1636')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B42','B53','B626','B652','C462','F63','G635','H52','M324','N425','P2','P6','S52')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5352','A5362','F6521','F6525','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','D5162','J5215','K6235','M6216')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('A45','B42','B452','C16','C452','C636','C64','G635','P412','P6','R','R24','W426')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%jacq%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A52','A524','A525','A5352','A5362','B6162','B6165','I5263','K6234','M6253','M6353','M6523','P3625','T6252','V53')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('F6524','F6525','R1632','R2632')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%red%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A3525','A6361','C4562','D6424','F6535','G5356','G6212','I2652','J1435','J164','J5365','J6354','K3261','K6434','M253','M6216','M6252','P3626','P4126','P4546','R1424','R146','T252','T5414')
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_nf in ('C6231','C6235')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','B6535','C6231','C6235','E4213','F6521','F6525','K6235','R1632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6423','C6424','F6524','F6532','R1631','R2632','V4356')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode in ('R2')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','B6563','C6426','E3632','F6362','F6526','F6532','G6216','R1635','R2632','V4356')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%no%'
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%n4%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B42','B62','B65','H2','J52','L','L2','M6','R2')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('A52','S532','U15')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','B1626','B6162','B6563','E3632','E6523','F6362','J5162','J5241','J5262','P3623','P3626','R1632','V4356')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B4','D5','G65','H2','H63','J52','K5','M2','M635','P62','S35','S5','T46','W452')
SELECT COUNT(*) from n_s1 AS n WHERE n.surname_pcode like '%n61%'
SELECT COUNT(*) from n_s1 AS n WHERE n.name_pcode_cf like '%h32%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B25','B42','B61','D16','H25','H4','H62','K5','L','L532','S2','S23','S53','W425')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6231','F6362','F6525','J513','R1631','R1632','R1636','R2631','S2153')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%ra%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A5216','A5263','A5264','B6164','F6523','G1642','J5162','K3652','M6243','M6254','M6523','S1524','T6252')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4252','A6521','B6563','D1325','J252','J5236','J525','M2452','M2453','M6263','R2636','W4516')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('B6342','H4236')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('B2','H25','J525','K4','M625','O425','R3','R5')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4252','B1626','C6421','F6525','J52','M2425','P3625','R1631','R1635','R1636')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B1626','C6423','C6424','C6425','D5162','F6521','F6524','F6525','J52','J5216','J5425','M6263','R2632')

SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','A5352','A5362','C6421','C6423','C6424','C6425','E6523','F6521','F6524','F6525','R1631','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4262','D5252','G6212','J5212','M2436','M6242','M6352','P425','S3126','T5214')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6423','C6424','C6426','F6524','F6532','R1631','R2632','V4356','W4362')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%par%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','A5253','A5324','C6431','D5252','F6525','F6526','J5253','J5262','K3453','M5456','S525')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A5216','A525','B6232','I2142','K3651','K3654','K6525','M2416','M2425','M6353','T6252')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%tan%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5363','A5365','B6516','F6524','F6526','J2363','J523','J6241','M2416','M6252','M6253','S3126')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B2','B6','B653','C5','D12','D2','D25','D62','F63','G6','H63','J525','P6','W452')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','F6362','F6525','J513','M6251','M6263','P3625','R1631','R1632','R2631','R2632')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','E6523','F6521','F6525','R1632')
SELECT COUNT(*) from n_s1 AS n WHERE n.name like '%av%'
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5362','B6535','C6235','E4213','F6525','R1631','R1632','S3152')
SELECT COUNT(*) from n_s1 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6532','B6252','B6341','B6532','C6423','C6462','D52','D5242','J5216','J535','K1526','T5256','W4362')
Total execution time: 388.4344205856323

# Exploring the results

In [26]:
def extract_val(d, key):
    val_start = d.find(key)
    val_end = val_start + d[val_start:].find(",")
    if val_end < val_start:
        val_end = val_start + d[val_start:].find(")")
    val = d[val_start:val_end].split("=")[1]
    return val.replace("'", "")

def load_logs(logfile):
    with open(logfile, "r") as f:
        data = f.readlines()
    
    retdata = defaultdict(list)
    alg = None
    #port = None
    
    for d in data:
        if "data_kind" in d:
            #d = d.replace("\n", "")
            #d = d.replace(" ", "")
            data_kind = extract_val(d, "data_kind")
            inp_to_eval = extract_val(d, "inp_to_eval")
            nq = int(extract_val(d, "num_queries"))
            wk = extract_val(d, "workload")
            if "port" not in d:
                break
            
            port = int(extract_val(d, "port"))
            skip_likes = int(extract_val(d, "skip_likes"))
            
        if "-->" in d:
            linedata = d.split(" ")
            ehash = linedata[5]
            rt = float(linedata[-1].replace("\n", ""))
            #rep = int(linedata[-5])
            #qerr = float(linedata[-3].replace("QErr:", ""))
            
            estc = float(linedata[-3].replace("EstC:", ""))
            truec = float(linedata[-5].replace("TrueC:", ""))
            rep = int(linedata[-9])
            qerr = float(linedata[-7].replace("QErr:", ""))
            
            retdata["ehash"].append(ehash)
            retdata["rt"].append(rt)
            retdata["rep"].append(rep)
            retdata["data_kind"].append(str(data_kind))
            retdata["inp_to_eval"].append(inp_to_eval)
            retdata["num_queries"].append(nq)
            retdata["workload"].append(wk)
            retdata["port"].append(port)
            retdata["skip_likes"].append(skip_likes)
            retdata["qerr"].append(qerr)
            retdata["truec"].append(truec)
            retdata["estc"].append(estc)
            
    df = pd.DataFrame(retdata)
    return df

In [27]:
LOGDIR = "./new_results/"
fns = glob.glob(LOGDIR + "*.log")
dfs = []

for fn in fns:
    df = load_logs(fn)
    dfs.append(df)
df = pd.concat(dfs)

In [28]:
mapping = {}
mapping["true_cols"] = "TrueData"
mapping["gen_shuffle"] = "GeneratedData"
mapping["s1"] = "GeneratedData"
mapping["s2"] = "GeneratedData"

df["data_kind"] = df.apply(lambda x: mapping[x["data_kind"]] , axis=1)

In [29]:
tmp = df.groupby(["ehash", "data_kind"])["rt"].mean().reset_index()
edf = tmp.set_index(['ehash', 'data_kind'])['rt'].unstack().reset_index()

In [30]:
import pickle
esqls = {}
if os.path.exists("esqls.pkl"):
    with open('esqls.pkl', 'rb') as handle:
        esqls = pickle.load(handle)
    
eqerrs = {}
etruecs = {}
estcs = {}

qdf = df[df["data_kind"] == "GeneratedData"]
for i,row in qdf.iterrows():
    eqerrs[row["ehash"]] = row["qerr"]
    etruecs[row["ehash"]] = row["truec"]
    estcs[row["ehash"]] = row["estc"]
    
true_rt = round(df.groupby(["data_kind"])["rt"].sum()["TrueData"], 2)
gen_rt = round(df.groupby(["data_kind"])["rt"].sum()["GeneratedData"], 2)

In [31]:
# fig, ax = plt.subplots(nrows=1,ncols=1,figsize=(6,5))
# true_rt = round(df.groupby(["data_kind"])["rt"].sum()["TrueData"], 2)
# gen_rt = round(df.groupby(["data_kind"])["rt"].sum()["GeneratedData"], 2)

# title = "Total Latency, True: {}; Generated: {}".format(true_rt, gen_rt)

# sns.scatterplot(data=edf, x = "GeneratedData", y="TrueData", alpha=1.0, ax=ax)

# ax.set_ylabel("True Data", fontsize=16)
# ax.set_xlabel("Generated Data", fontsize=16)

# plt.title(title, fontsize=16)

# #FN= "{}-{}-scatterplot.pdf".format(INP , NUMQ)
# #plt.savefig(FN, bbox_inches="tight")
# plt.show()

In [37]:
import sqlparse
edf["sql"] = edf.apply(lambda x: sqlparse.format(esqls[x["ehash"]], reindent=True,keyword_case="upper") ,
                       axis=1)
edf["qerr"] = edf.apply(lambda x: eqerrs[x["ehash"]] ,axis=1)
edf["estc"] = edf.apply(lambda x: estcs[x["ehash"]] ,axis=1)
edf["truec"] = edf.apply(lambda x: etruecs[x["ehash"]] ,axis=1)

sqlparse.format(edf.sql.values[5], reindent=True, keyword_case='upper')

"SELECT COUNT(*)\nFROM name AS n\nWHERE n.gender in ('m')\n  AND n.name_pcode_nf in ('A4253',\n                          'A5352',\n                          'A5362',\n                          'C6421',\n                          'C6423',\n                          'C6424',\n                          'C6425',\n                          'E6523',\n                          'F6521',\n                          'F6524',\n                          'F6525',\n                          'R1631',\n                          'R1632')"

In [39]:
from bokeh.io import output_file, show, reset_output, output_notebook
from bokeh.models import ColumnDataSource, HoverTool
from bokeh.plotting import figure
import pandas as pd

reset_output()
output_notebook()
#output_file("name-final-results.html")

source = ColumnDataSource(data=edf)

# Define the hover tool to display the 'data_kind' column from edf
hover = HoverTool(tooltips=[
                             ("Gen Data", "@GeneratedData"),
                             ("True Data", "@TrueData"),
                             ("Gen Cardinality", "@estc"),
                             ("True Cardinality", "@truec"),
                             #("Cardinality Q-Error", "@qerr"),
                             ("SQL", "@sql"),
                            ])

# Create the Bokeh figure
p = figure(title="Total Latency, True: {}; Generated: {}".format(true_rt, gen_rt), 
                  tools="pan,wheel_zoom,save,reset", active_scroll='wheel_zoom',
          width=600, height=500,
          )

# Add the scatter plot to the Bokeh figure
p.scatter('GeneratedData', 'TrueData', source=source, 
         size=8)
p.add_tools(hover)

# Set the x and y axis labels
p.xaxis.axis_label = "Generated Data"
p.yaxis.axis_label = "True Data"

# Display the plot
show(p)

In [44]:
DKIND2="s2"

In [40]:
DKIND2="s2"

## TO try: shuffle=False; null_strs=True
upload_to_postgres(final_solution_df, args.db, args.table, DKIND, shuffle=False, null_strs=False)

uploading to postgres took:  117.22

In [41]:
import sys
import os
import shutil

os.chdir("/spinning/pari/WorkloadCharacterization")

try:
    shutil.rmtree('./new_results')
except Exception as e:
    pass

try:
    os.mkdir("./new_results")
except:
    pass

NUMQ = 100

In [42]:
CMD = "python3 eval_data.py --data_kind true_cols --num_queries {} \
--inp_to_eval n --port 5432 --workload ceb --db_name imdb --result_dir new_results".format(NUMQ)
out = os.system(CMD)

data/ceb-all/sqls/dfs/expr_df.csv
Number of sqls to evaluate: 100
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','E4213','F6362','F6525','J513','M6251','M6263','P3625','R1632','R1636','R2631','R2632','S2153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6361','D1326','D1352','G6262','J5241','J5245','J5263','L2142','M6216','S3151')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B2','B6','B62','B653','C2','C5','J52','J525','L15','L52','M62','P62','R3','W425')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4236','A5356','A5361','E3631','J25','M2412','M2415','M6242','M6352','P3656','R1632','S2525','S3541','V2362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5362','C6231','C6235','D1343','D52','F6526','G6265','J2523','J5263','M245','M625','R2631','S1235','S3156')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5352','B1626','D5162','E4213','F6525','J5265','P436','R1632','R1636','R2631','R2635')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C6235','E4213','M6216','M6263')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','E6523','F6521','F6525','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C6235','E4213')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%it%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B2','D5','G6','J525','M2','M46','M625','R3')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_nf like '%w41%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%j1%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%mar%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('F6362','F6525','J513','M6251','P3625','R1631','R1632','R1636','R2631','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','E4213','F6362','F6525','J513','M6263','R1631','R1632','R2631','R2632','S2153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','A5365','C6235','C6453','D1312','D1343','H5163','J212','J532','S3154')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5352','A5362','C6421','C6423','C6424','C6426','E6523','F6524','F6525','M6263','R1631','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%moli%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('E4213','M6216','M6263')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%such%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4215','C6232','C6261','C6416','C6452','D2313','D52','E5621','K1524','L25','L2516','N242','T5212','V5252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%willi%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ve%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A4361','B4525','B6261','B6526','J5252','S3152','S4153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B4525','B6261','D1232','H4236','J5252','O4252','P5235','R1632','R2632','S3152','W5165')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('M6263')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5352','A5362','C6421','C6424','C6425','F6524','F6525','R1631','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%vil%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%horst%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','C6425','F6521','F6525','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%de%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A525','A5363','C6235','C6525','D525','E4525','J5245','L252','M62','M6245','M6532','M6562','R5316','S652')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%lo%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','A5352','C6425','E6523','F6521','F6525','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ne%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%marl%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%pha%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%sta%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6543','B6535','G5362','G6535','J2346','J6525','L2416','M2563','M3262','R2616','R5432','S2153','V3656')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6563','C6425','D1316','F6523','J5252','M2416','M2425','R1635','R2631')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%f65%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4216','A4252','A5162','A5326','C3651','G1645','K3451','M6234','M6245','M6253','N2421','S2562','S5365','T5252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%mil%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A6362','B6165','C6416','C6452','G6252','G6253','J2425','L2142','M2415','M6232','P3625','S3153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4252','C6235','M6263')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('A5262','M5323','S4136')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B24','C62','D12','D4','J25','M324','S23','S415','S5','S53')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5362','B6535','C6231','E4213','F6521','F6525','K6235','R1631','R1632','R2632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A3414','C6426','R2636','S1524')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('A436','B2','B452','C16','C462','C65','H2','J52','L2','M5','R2','S23','W425')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','K3451','M6216','S3521')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','A5362','B6535','C6231','C6235','F6525','R1632','R2632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','A5364','B6514','D5236','F6521','H6252','J2524','J2532','J562','P3653','R2636','S524')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('P5235','P6252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5352','B6161','C6231','C6235','E3632','G6252','J5216','J5235','M2425','R1632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%hay%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','C6421','C6423','C6424','C6425','C6426','F6525','J5265','R1631','R1636','R2631','R2632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%se%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5362','A6532','C6235','J1626','J2516','J516','J5252','M2452','M2525','M6232','R2625','R2631','R2632','T6162')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','C6424','E3241','E3632','F6526','G6252','J252','J5162','J524','M2423','M6252','M6352','R2636','V5253')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%t6%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf in ('T5212')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5354','J5','J524','J6241','L216','M2426','M2462','P3635','S3156','S562','T5216')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.surname_pcode in ('C2','C5','H2','L2','L5','S5','S53')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','K6235')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%p64%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%s%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A5362','C6231','C6235','F6525','R1631','R1632','R2632','S3152')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode in ('A365','C62','G62','L15','L25','M2','N242','P62','R2')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%vanna%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('E4213','F6362','J513','M6251','M6263','P3625','R1631','R1632','R1636','R2631','R2632','S2153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A514','A5143','A5164','D5242','D5262','H4526','J5265','K6526','M6325','N2426','R2414','S1525','S2523','S6532')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','B6563','E3632','F6523','F6524','F6526','F6532','H6163','R1635','R1636','S2534','V4356')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ev%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','B6563','E3632','F6362','F6523','F6524','F6526','F6532','G6216','H6163','R1635','R1636','R2632','S2534','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B4532','G6325','H4525','J4524','J5326','L4525','M2413','M525','M6325','M6535','O4212','S4125','S5252')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5242','B1614','C6231','J2423','J5252','M2425','R1631','R1632','R2631','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','C6421','C6425','C6426','F6524','F6525')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%k23%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','B6535','D5452','F6535','G6352','J5253','J5254','M2465','M6241','M6242')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%villar%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B5254','B6516','C5651','C6231','C6253','E4213','J1415','K6425','L216','M6232','M6243','P4265','S3151','T4626','T525','V5256')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%bil%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ch%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('A3654','B4353','B6156','D2362','D4626','F6532','L1561','L5326','M5323','R2461','S5236')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name_pcode_cf like '%m2%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B1626','E3241','F6525','P436','R2631','R2632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5362','C6423','C6424','E6523','F6521','F6524','F6525','R1631','R1632')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('F6362','J513','M6251','R1631','R1632','R1636','R2632','S2153')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%hel%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A2351','A4253','C6424','D2564','J216','J242','J2565','J5141','J5216','J6242','J6264','R2532','R5432')
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6423','C6424','C6426','F6524','F6532','R1631','R2632','W4362')
SELECT COUNT(*) from n_true_cols AS n WHERE n.surname_pcode like '%e1%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','C6416','C6452','D5162','E4213','J5215','M6216','M6263','R3565')
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%alla%'
SELECT COUNT(*) from n_true_cols AS n WHERE n.name like '%ma%'
Total execution time: 60.604735136032104

NameError: name 'DKIND2' is not defined

In [45]:
CMD2 = "python3 eval_data.py --data_kind {} --num_queries {} \
--inp_to_eval n --port 5432 --workload ceb --db_name imdb --result_dir new_results".format(DKIND2, NUMQ)
out = os.system(CMD2)

data/ceb-all/sqls/dfs/expr_df.csv
Number of sqls to evaluate: 100
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','E4213','F6362','F6525','J513','M6251','M6263','P3625','R1632','R1636','R2631','R2632','S2153')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6361','D1326','D1352','G6262','J5241','J5245','J5263','L2142','M6216','S3151')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('B2','B6','B62','B653','C2','C5','J52','J525','L15','L52','M62','P62','R3','W425')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4236','A5356','A5361','E3631','J25','M2412','M2415','M6242','M6352','P3656','R1632','S2525','S3541','V2362')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5362','C6231','C6235','D1343','D52','F6526','G6265','J2523','J5263','M245','M625','R2631','S1235','S3156')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5352','B1626','D5162','E4213','F6525','J5265','P436','R1632','R1636','R2631','R2635')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C6235','E4213','M6216','M6263')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','E6523','F6521','F6525','R1632')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('C6235','E4213')
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%it%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B2','D5','G6','J525','M2','M46','M625','R3')
SELECT COUNT(*) from n_s2 AS n WHERE n.name_pcode_nf like '%w41%'
SELECT COUNT(*) from n_s2 AS n WHERE n.surname_pcode like '%j1%'
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%mar%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('F6362','F6525','J513','M6251','P3625','R1631','R1632','R1636','R2631','R2632')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('C6231','E4213','F6362','F6525','J513','M6263','R1631','R1632','R2631','R2632','S2153')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','A5365','C6235','C6453','D1312','D1343','H5163','J212','J532','S3154')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5352','A5362','C6421','C6423','C6424','C6426','E6523','F6524','F6525','M6263','R1631','R1632')
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%moli%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('E4213','M6216','M6263')
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%such%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4215','C6232','C6261','C6416','C6452','D2313','D52','E5621','K1524','L25','L2516','N242','T5212','V5252')
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%willi%'
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%ve%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A4361','B4525','B6261','B6526','J5252','S3152','S4153')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_cf in ('A5362','B4525','B6261','D1232','H4236','J5252','O4252','P5235','R1632','R2632','S3152','W5165')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('M6263')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5352','A5362','C6421','C6424','C6425','F6524','F6525','R1631','R1632')
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%vil%'
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%horst%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','C6425','F6521','F6525','R1632')
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%de%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A525','A5363','C6235','C6525','D525','E4525','J5245','L252','M62','M6245','M6532','M6562','R5316','S652')
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%lo%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','A5352','C6425','E6523','F6521','F6525','R1632')
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%ne%'
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%marl%'
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%pha%'
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%sta%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6543','B6535','G5362','G6535','J2346','J6525','L2416','M2563','M3262','R2616','R5432','S2153','V3656')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B6563','C6425','D1316','F6523','J5252','M2416','M2425','R1635','R2631')
SELECT COUNT(*) from n_s2 AS n WHERE n.name_pcode_cf like '%f65%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4216','A4252','A5162','A5326','C3651','G1645','K3451','M6234','M6245','M6253','N2421','S2562','S5365','T5252')
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%mil%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A6362','B6165','C6416','C6452','G6252','G6253','J2425','L2142','M2415','M6232','P3625','S3153')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4252','C6235','M6263')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('A5262','M5323','S4136')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.surname_pcode in ('B24','C62','D12','D4','J25','M324','S23','S415','S5','S53')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4253','A5362','B6535','C6231','E4213','F6521','F6525','K6235','R1631','R1632','R2632','S3152')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A3414','C6426','R2636','S1524')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.surname_pcode in ('A436','B2','B452','C16','C462','C65','H2','J52','L2','M5','R2','S23','W425')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','K3451','M6216','S3521')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','A5362','B6535','C6231','C6235','F6525','R1632','R2632','S3152')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4253','A5364','B6514','D5236','F6521','H6252','J2524','J2532','J562','P3653','R2636','S524')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('P5235','P6252')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5352','B6161','C6231','C6235','E3632','G6252','J5216','J5235','M2425','R1632','S3152')
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%hay%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','C6421','C6423','C6424','C6425','C6426','F6525','J5265','R1631','R1636','R2631','R2632','S3152')
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%se%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5362','A6532','C6235','J1626','J2516','J516','J5252','M2452','M2525','M6232','R2625','R2631','R2632','T6162')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A5362','C6424','E3241','E3632','F6526','G6252','J252','J5162','J524','M2423','M6252','M6352','R2636','V5253')
SELECT COUNT(*) from n_s2 AS n WHERE n.name_pcode_cf like '%t6%'
SELECT COUNT(*) from n_s2 AS n WHERE n.name_pcode_cf in ('T5212')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A5354','J5','J524','J6241','L216','M2426','M2462','P3635','S3156','S562','T5216')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f') AND n.surname_pcode in ('C2','C5','H2','L2','L5','S5','S53')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A5242','K6235')
SELECT COUNT(*) from n_s2 AS n WHERE n.surname_pcode like '%p64%'
SELECT COUNT(*) from n_s2 AS n WHERE n.name_pcode_cf like '%s%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A5362','C6231','C6235','F6525','R1631','R1632','R2632','S3152')
SELECT COUNT(*) from n_s2 AS n WHERE n.surname_pcode in ('A365','C62','G62','L15','L25','M2','N242','P62','R2')
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%vanna%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('E4213','F6362','J513','M6251','M6263','P3625','R1631','R1632','R1636','R2631','R2632','S2153')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('A4253','A514','A5143','A5164','D5242','D5262','H4526','J5265','K6526','M6325','N2426','R2414','S1525','S2523','S6532')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','B6563','E3632','F6523','F6524','F6526','F6532','H6163','R1635','R1636','S2534','V4356')
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%ev%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A6362','B6563','E3632','F6362','F6523','F6524','F6526','F6532','G6216','H6163','R1635','R1636','R2632','S2534','W4362')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B4532','G6325','H4525','J4524','J5326','L4525','M2413','M525','M6325','M6535','O4212','S4125','S5252')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A5242','B1614','C6231','J2423','J5252','M2425','R1631','R1632','R2631','R2632')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A4163','A4253','A5352','A5362','C6421','C6425','C6426','F6524','F6525')
SELECT COUNT(*) from n_s2 AS n WHERE n.name_pcode_cf like '%k23%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('B1626','B6535','D5452','F6535','G6352','J5253','J5254','M2465','M6241','M6242')
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%villar%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B5254','B6516','C5651','C6231','C6253','E4213','J1415','K6425','L216','M6232','M6243','P4265','S3151','T4626','T525','V5256')
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%bil%'
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%ch%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f') AND n.name_pcode_cf in ('A3654','B4353','B6156','D2362','D4626','F6532','L1561','L5326','M5323','R2461','S5236')
SELECT COUNT(*) from n_s2 AS n WHERE n.name_pcode_cf like '%m2%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('B1626','E3241','F6525','P436','R2631','R2632')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f','m') AND n.name_pcode_nf in ('A4163','A4253','A5362','C6423','C6424','E6523','F6521','F6524','F6525','R1631','R1632')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('F6362','J513','M6251','R1631','R1632','R1636','R2632','S2153')
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%hel%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('A2351','A4253','C6424','D2564','J216','J242','J2565','J5141','J5216','J6242','J6264','R2532','R5432')
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('m') AND n.name_pcode_nf in ('C6423','C6424','C6426','F6524','F6532','R1631','R2632','W4362')
SELECT COUNT(*) from n_s2 AS n WHERE n.surname_pcode like '%e1%'
SELECT COUNT(*) from n_s2 AS n WHERE n.gender in ('f') AND n.name_pcode_nf in ('B6161','C6235','C6416','C6452','D5162','E4213','J5215','M6216','M6263','R3565')
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%alla%'
SELECT COUNT(*) from n_s2 AS n WHERE n.name like '%ma%'
Total execution time: 44.490800619125366

In [46]:
mapping = {}
mapping["true_cols"] = "TrueData"
mapping["gen_shuffle"] = "GeneratedData"
mapping["s1"] = "GeneratedData"
mapping["s2"] = "GeneratedData"

LOGDIR = "./new_results/"
fns = glob.glob(LOGDIR + "*.log")
dfs = []

for fn in fns:
    df = load_logs(fn)
    dfs.append(df)
df = pd.concat(dfs)
df["data_kind"] = df.apply(lambda x: mapping[x["data_kind"]] , axis=1)
tmp = df.groupby(["ehash", "data_kind"])["rt"].mean().reset_index()
edf = tmp.set_index(['ehash', 'data_kind'])['rt'].unstack().reset_index()

import pickle
esqls = {}
if os.path.exists("esqls.pkl"):
    with open('esqls.pkl', 'rb') as handle:
        esqls = pickle.load(handle)
    
eqerrs = {}
etruecs = {}
estcs = {}

qdf = df[df["data_kind"] == "GeneratedData"]
for i,row in qdf.iterrows():
    eqerrs[row["ehash"]] = row["qerr"]
    etruecs[row["ehash"]] = row["truec"]
    estcs[row["ehash"]] = row["estc"]
    
true_rt = round(df.groupby(["data_kind"])["rt"].sum()["TrueData"], 2)
gen_rt = round(df.groupby(["data_kind"])["rt"].sum()["GeneratedData"], 2)

import sqlparse
edf["sql"] = edf.apply(lambda x: sqlparse.format(esqls[x["ehash"]], reindent=True,keyword_case="upper") ,
                       axis=1)
edf["qerr"] = edf.apply(lambda x: eqerrs[x["ehash"]] ,axis=1)
edf["estc"] = edf.apply(lambda x: estcs[x["ehash"]] ,axis=1)
edf["truec"] = edf.apply(lambda x: etruecs[x["ehash"]] ,axis=1)

sqlparse.format(edf.sql.values[5], reindent=True, keyword_case='upper')

"SELECT COUNT(*)\nFROM name AS n\nWHERE n.gender in ('f',\n                   'm')\n  AND n.surname_pcode in ('A436',\n                          'B2',\n                          'B452',\n                          'C16',\n                          'C462',\n                          'C65',\n                          'H2',\n                          'J52',\n                          'L2',\n                          'M5',\n                          'R2',\n                          'S23',\n                          'W425')"

In [47]:
from bokeh.io import output_file, show, reset_output, output_notebook
from bokeh.models import ColumnDataSource, HoverTool
from bokeh.plotting import figure
import pandas as pd

reset_output()
output_notebook()
#output_file("name-final-results.html")

source = ColumnDataSource(data=edf)

# Define the hover tool to display the 'data_kind' column from edf
hover = HoverTool(tooltips=[
                             ("Gen Data", "@GeneratedData"),
                             ("True Data", "@TrueData"),
                             ("Gen Cardinality", "@estc"),
                             ("True Cardinality", "@truec"),
                             #("Cardinality Q-Error", "@qerr"),
                             ("SQL", "@sql"),
                            ])

# Create the Bokeh figure
p = figure(title="Total Latency, True: {}; Generated: {}".format(true_rt, gen_rt), 
                  tools="pan,wheel_zoom,save,reset", active_scroll='wheel_zoom',
          width=600, height=500,
          )

# Add the scatter plot to the Bokeh figure
p.scatter('GeneratedData', 'TrueData', source=source, 
         size=8)
p.add_tools(hover)

# Set the x and y axis labels
p.xaxis.axis_label = "Generated Data"
p.yaxis.axis_label = "True Data"

# Display the plot
show(p)